<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/logo_kambaniru.png">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{name_title}}</title>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
    <link type="text/css" rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />
    <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap-float-label.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/custom.css" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>

<body class="background show-spinner">
    <div class="loading-animation" id="wait">
        <img src="/img/loading.gif">
  </div>
    <div class="fixed-background"></div>
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side ">

                            <p class=" text-white h2">{{appName}}</p>

                            <p class="white mb-0">
                                Please use your credentials to login.
                                <br>If you are not a member, please contact admin
                            </p>
                        </div>
                        <div class="form-side">
                            <a href="/">
                                <h3>{{appName}}</h3>
                            </a>
                            <h6 class="mb-4">Forgot Password</h6>
                            <form action="/admin/forgot_password" method="post" id="login-form" refresh="/admin/forgot_password">
                            <div class="alert alert-primary hidden" role="alert" id="warning_message"> </div>
                                <label class="form-group has-float-label mb-4">
                                    <input class="form-control" name="email" required />
                                    <span>E-mail</span>
                                </label>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="/admin/signin">Sign In?</a>
                                    <button class="btn btn-primary btn-lg btn-shadow submit-btn" type="submit" form-id="login-form" warning-id="warning_message" type="submit" >
                                        <i class="fa fa-circle-o-notch fa-spin login-spin hidden"></i>
                                        SUBMIT
                                        </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Scripts -->
    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/dore.script.js"></script>
    <script src="/js/submit.js"></script>
    <script src="/js/scripts.js"></script>    
</body>

</html>