<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name_title}}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
<div class="loading-animation" id="wait">
        <img src="/img/loading.gif">
  </div>
    <div class="main">


        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="img/lock.png" alt="sing up image"></figure>
                        <a href="/signin" class="signup-image-link">Sign In here!</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Forgot password</h2>
                        <form method="POST" action="" class="register-form" id="forgot_password" refresh="/">
                            <div class="alert alert-primary hidden" role="alert" id="warning_message"> </div>
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group form-button">
                                <i class="fa fa-circle-o-notch fa-spin login-spin hidden "></i>
                                <input type="submit" name="forgot_password" id="forgot_password" class="form-submit ripple submit-btn" value="Submit" form-id="forgot_password" warning-id="warning_message"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/submit.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>