<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name_title}}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="/css/selectize.default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
<div class="loading-animation" id="wait">
        <img src="/img/loading.gif">
  </div>
    <div class="main">


        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/signin-image.jpg" alt="sing up image"></figure>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Profiling</h2>
                        <form method="POST" action="" class="register-form" enctype="multipart/form-data">
                            {{#each survey_profiling}}
                                <div class="form-group">
                                    {{#ifEquals this.type "text"}}
                                    <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "email"}}
                                    <input type="email" name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "number"}}
                                    <input type="number" name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "date"}}
                                    <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control datepicker" placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "textarea"}}
                                    <textarea name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}}></textarea>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "select"}}
                                    <select name="{{this._id}}" id="{{this._id}}" class="form-control" {{#ifEquals this.required true}} required{{/ifEquals}}>
                                        <option value="">Select {{this.question}}</option>
                                        {{#each this.data}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "checkbox"}}
                                    <div class="form-group">
                                        <label for="{{this._id}}" class="checkbox">{{this.question}}</label>
                                        <input id="{{this._id}}" type="checkbox" value="true" {{#ifEquals this.required true}} required{{/ifEquals}}>
                                    </div>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "multiple"}}
                                    <select  name="{{this._id}}" id="{{this._id}}" class="form-control selectize" placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}} multiple/>
                                      <option value="">Select {{this.question}}</option>
                                      {{#each this.data}}
                                      <option value="{{this}}" style="text-transform: capitalize">{{this}}</option>
                                      {{/each}}
                                    </select>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "file"}}
                                    <input type="file" name="file" id="{{this._id}}" class="form-control" placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                </div>
                            {{/each}}
                            <div class="form-group form-button">
                                <i class="fa fa-circle-o-notch fa-spin login-spin hidden "></i>
                                <input type="submit" name="submit" class="form-submit ripple" value="Submit" form-id="login-form"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    {{!-- <script src="/js/main.js"></script> --}}
    <script src="/js/vendor/bootstrap-datepicker.js"></script>
    <script src="/js/submit.js"></script>
    <script src="/vendor/selectize/selectize.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/signin.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<script>
       $(document).ready(function() {
           {{#if messages}}
           swal({
                title: "{{ message_title }}",
                text: "{{ messages }}",
                icon: "{{ messages_type }}",
                });
            {{/if}}
        } );
    </script>
</html>