<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name_title}}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
<div class="loading-animation" id="wait">
        <img src="/img/loading.gif">
  </div>
    <div class="main">


        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" action="" class="register-form" id="login-form" refresh="/">
                            <div class="alert alert-primary hidden" role="alert" id="warning_message"> </div>
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                Forgot your password?  <a href="/forgot_password">Click here.</a>
                            </div>
                            <div class="form-group form-button">
                                <i class="fa fa-circle-o-notch fa-spin login-spin hidden "></i>
                                <input type="submit" name="signin" id="signin" class="form-submit ripple submit-btn" value="Log in" form-id="login-form" warning-id="warning_message"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/submit.js"></script>
    <script src="/js/sweetalert.min.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
<script>
       $(document).ready(function() {
           {{#if info}}
           swal({
                title: "{{ info_title }}",
                text: "{{ info }}",
                icon: "{{ info_type }}",
                });
            {{/if}}
        } );
    </script>
</html>