@media (max-width:1920px){
    
}
@media (max-width:1700px){
    .slider_area_tow .slider_inner .camera_prev::after {
        left: 0px !important;
    }
    .slider_area_tow .slider_inner .camera_next::after {
        right: 0px !important;
    }
    .slider_area .slider_inner .camera_next::after { 
        right: 105px; 
    }
    .slider_area .slider_inner .camera_prev::after { 
        left: 105px; 
    }
} 
@media (max-width:1199px){
    .slider_area .slider_inner .camera_next::after {
        right: 0px;
    }
    .slider_area .slider_inner .camera_prev::after {
        left: 0;
    }
    .slider_area_tow .slider_inner .camera_caption div .container {
        max-width: 940px !important; 
    }
    .our_team_area .team_row .team_membar img {
        height: 330px;
    }
    .blog_tow_area .blog_tow_row .renovation .renovation_content .date_comment a { 
        padding-right: 30px;
    }
}
@media (max-width:991px){
    .top_header_area .top_nav li a{
        padding-left: 20px;
    }
    .header_aera .navbar-collapse .navbar-nav.navbar-right li a{
        padding-left: 20px;
    }
    .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom{
        height: 101px;
        margin-top: -1px;
    }
    // header-2
    .header_aera_tow .navbar-collapse .navbar-nav.navbar-right li a{
        padding-left: 16px;
    }
    .top_header .top_nav li a{
        padding-left: 10px;
    }
    .header_aera_tow .navbar_right_fulid::after {
        display: none;
    }
    .top_header_area.top_header{
        background: #111f29 !important;
    }
    .top_header_area.top_header .right_top_header::after {
        display: none;
    }
    .header_aera_tow{
        background: #fff !important;
    }
    .header_aera_tow .navbar_right_fulid{
        box-shadow: none;
    }
    .all_header{
        box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
    }
    // End header-2 
    .slider_area .slider_inner .camera_caption div p{
        max-width: 600px
    }
    .our_feature_area .feature_row .feature_img{
        padding-bottom: 20px;
    }
    .our_achievments_area .achievments_row .completed{
        padding-bottom: 30px;
    }
    .our_achievments_area .achievments_row .completed{
        &:nth-child(2){
            border: 0;
        }
    }
    .our_partners_area .book_now_aera .book_now .booking_text p{
        padding-bottom: 20px;
    }
    .footer_about.quick{
        padding-bottom: 70px !important;
    }
    .slider_area_tow .slider_inner .camera_caption div .container a {
        margin-bottom: 50px;
    }
    
    .slider_area_tow .slider_inner .camera_caption div .container {
        max-width: 720px !important; 
    }
    .slider_area_tow .slider_inner .camera_caption div{
        padding-top:30px;
    }
    .slider_area_tow .slider_inner .camera_caption div p{
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .our_skill_inner {
        padding-top: 30px;
    }
    .our_partners_area .book_now_aera .book_now .book_bottun a { 
        margin-left: 15px;
    }
    .building_construction_area .building_construction_row .constructing_laft .ipsum_img{
        padding-left: 0;
    }
    .contact_map #map {
        height: 300px;
    }
    .blog_all .blog_row .main_blog .blog_content .tag a{
        margin-bottom: 10px;
    }
    .blog_all .blog_row .main_blog .blog_content .blog_heading{
        padding-left: 20px;
    }
} 
@media (max-width:800px){
    .slider_area_tow .slider_inner .camera_caption div{
        right: 0;
        margin: 0 auto;
        width: 90%;
    }
}
@media (max-width:767px){
    .top_header_area .top_nav{
        li{
            &:first-child {
                a{
                    padding-left: 15px; 
                }
            }
            display: inline-block;
            a{
                line-height: 28px;
            }
        } 
    } 
    .top_header_area .social_nav{
        padding-top: 0;
        padding-bottom: 10px;
        li{
            display: inline-block; 
            &:first-child {
                a{ 
                    margin-left: 0;
                }
            }
        }
    }
    .navbar-toggle  {
        top: 15px;
    } 
    .header_aera .navbar-header{
        height: 57px;
        .navbar-brand {
            padding-top: 30px;
        }
    }
    .header_aera .navbar-collapse .navbar-nav.navbar-right li a{
        line-height: 45px;
    } 
    .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul{
        padding-left: 30px;
        background-color: transparent;
        li{
            a{
                &:hover, &:focus{
                    color: $bc;
                }
            }
        }
    }
    .slider_inner.camera_wrap{
        height: 500px !important;
    }
    .about_us_area .about_row .about_client {
        padding-top: 40px;
    }
    .what_we_area .construction_iner .construction { 
        max-width: 390px;
        margin: 0 auto;
    }
    .our_team_area .team_row .team_membar { 
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .our_team_area .team_row .team_membar img {
        height: auto;
    }
    .our_achievments_area .achievments_row .completed{
        border: 0;
    }
    .latest_blog_area .latest_blog .blog_content {
        max-width: 360px;
        margin: 0 auto;
    }
    .footer_about.quick{
        padding-bottom: 50px !important;
    }
    .footer_area .footer_row{
        padding-bottom: 0;
    }
    
    .slider_area_tow .slider_inner .camera_caption div .container {
        max-width: 726px !important; 
    }
    .header_aera_tow .navbar_right_fulid{
        height: 80px;
    }
    .top_header_area.top_header {
        display: none;
    }
    .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
        height: 45px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: #fff;
    }
    .our_services_tow .architecture_area .portfolio_2 .single_facilities img{
        margin-top: 30px; 
    }
    .our_services_tow .architecture_area .portfolio_filter_2 ul li{
        width:33.3333%;
        border-bottom: 1px solid #dfe3e4;
    }
    .our_services_tow .architecture_area .portfolio_filter_2 ul li:last-child{
        border-right: 1px solid #dfe3e4;
    }
    .our_services_tow .architecture_area .portfolio_filter_2{
        border-bottom: 0;
        border-right:0;
    }
    .about_client.about_pages_client{
        padding-top: 0 !important;
        padding-bottom: 30px;
    }
    constructing_right {
        padding-top: 30px;
    }
    .blog_tow_area .blog_tow_row .renovation {
        max-width: 360px;
        margin: 0 auto;
    }
    .widget_area{
        padding-top: 60px;
    }
    .footer_area .footer_row .footer_about address .my_address li span{
        padding-left: 0;
    }
    .not_found_area{
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact_info.send_message {
        padding-top: 40px;
    }
    .blog_all .blog_row{
        padding-bottom: 40px;
    }
} 
@media (max-width:689px){ 
    .slider_area .slider_inner .camera_caption div{
        width: 88%;
        right: 0;
        margin: 0 auto;
    }
    .slider_area .slider_inner .camera_caption div p {
        padding-top: 10px; 
        padding-bottom: 20px;
    }
    .slider_area_tow .slider_inner .camera_caption div .container {
        max-width: 100% !important;
    }
}
@media (max-width:546px){
    .call_min_area {
        h2{
            font-size: 40px;
        }
        p{
            font-size: 20px;
        }
    }
}
@media (max-width:499px){ 
    .our_services_area .portfolio_inner_area .portfolio_item .single_facilities .single_facilities_inner .gallery_hover{
        display: none;
    }
    .our_services_area .portfolio_inner_area .portfolio_filter ul li:first-child {
        padding-bottom: 10px;
    } 
    .our_services_tow .architecture_area .portfolio_filter_2 ul li {
        width: 50%; 
    }
    .our_partners_area .partners .item img {
        width: auto;
        margin: 0 auto;
    }
    .call_min_area .call_btn a{
        display: block;
        margin: 0 auto;
        &:first-child{
            margin: 0 auto;
            margin-bottom: 20px;
        }
    } 
    .blog_all .blog_row .main_blog .client_text .control{
        width: 100%;
        margin-bottom: 10px;
    }
    .blog_all .blog_row .main_blog .client_text .control:last-child{
        border-left: 1px solid #888;
    }
    .blog_all .blog_row .main_blog .reply_comment {
        padding-left: 30px;
    }
    .blog_all .blog_row .main_blog .blog_content .blog_heading {
        font-size: 20px;
    }
}
@media (max-width:446px){
	.slider_area_tow .slider_inner .camera_caption div {
		padding-top: 40px;
	}
    .slider_area_tow .slider_inner .camera_caption div{
        h5{
            font-size: 18px;
        }
        h3{
            font-size: 20px;
            padding-top: 10px;
        }
    } 
}
@media (max-width:360px){ 
    .slider_area .slider_inner .camera_caption div h3{
        font-size: 26px;
    }
    .what_we_area .construction_iner .construction .cns-content{
        padding: 0 10px;
        padding-bottom: 20px;
    }
    .featured_works .featured_gallery .gallery_iner .gallery_hover{
        display: none;
    }   
    .footer_area .copyright_area{
        line-height: 26px;
        padding: 10px 0;
    }
    .call_min_area {
        h2{
            font-size: 30px;
        }
        p{
            font-size: 16px;
        }
    } 
    .footer_area .footer_row .footer_about address .my_address li span {
        padding-left: 30px;
    }
    .blog_all .blog_row .main_blog .blog_content .blog_heading {
        font-size: 15px;
    }
    
    .slider_area_tow .slider_inner .camera_caption div{
        h3{
            font-size: 19px;
            padding-top: 10px;
        }
    } 
}
@media (max-width:320px){ 
    .slider_area_tow .slider_inner .camera_caption div {
        padding-top: 95px;
    }
    .slider_area .slider_inner .camera_caption div h3 {
        font-size: 23px; 
    }
    .building_construction_area .building_construction_row .constructing_laft a{
        font-size: 22px;
    }
    .blog_all .blog_row .main_blog .blog_content .blog_heading {
        font-size: 13px;
    }
    .slider_area_tow .slider_inner .camera_caption div {
        padding-top: 60px;
    }
    
    .slider_area_tow .slider_inner .camera_caption div{
        h3{
            font-size: 18px;
            padding-top: 10px;
        }
    }
}