.navbar-header a img {
    width: 70%;
    padding-bottom: 20px;
}
.profile-page {
    overflow: hidden;
}
.log-view-mobile {
  width:70%;
  margin:auto;
  background:#fff;
  padding:30px 20px;
  top:10vh;
  border-radius:8px;
} 
.card-log .head-card {
  text-align:center;
  margin-bottom:25px;
}
.card-log .head-card a img {
  width:50%!important;
}
@media (min-width:1800px) {
  .log-view-pc {
    display:block;
  }
  .log-view-mobile {
    display:none!important;
  }
}
@media (max-width:1800px) {
  .log-view-mobile {
    display:none!important;
  }
  .log-view-pc {
    display:block;
  }
}
@media (max-width:768px) {
  .login-left-inner {
    display:none;
  }
   .log-view-mobile {
    display:block!important;
  }
    .log-view-pc {
    display:none!important;
  }
}