.hidden{
    display: none;
}
.ph-5em {
    padding-left: 5em;
    padding-right: 5em;
}
.pa-0 {
    padding: 0 !important;
}

.pr-5em {
    padding-right: 5em;
}
.theme-button{
    display:none;
}
.remove-profiling{
    cursor: pointer;
    margin-left:2px;
  }
  .remove-profiling:hover{
    background-color: red
  }
  .big-input{
    height:7vh;
    font-size:14px
  }
  .centered-content{
    text-align: center
  }
  .show-question{
    cursor: pointer;
    margin-left:2px;
    margin-bottom: 2px
  }

  .modal-header .close {
    padding: 0!important;
    margin: 0!important;
  }
  .selectize-control{
      height: auto!important;
  }
.loading-animation{
    display:block;
    position:fixed;
    width:100%; 
    height:100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index:50000;
    vertical-align: middle; 
    text-align:center;
  }
  
  .loading-animation img{
    max-width:100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.position-absolute {
    position: absolute;
}
.note-popover{
    display:none;
}

.logo-feature{
    max-width: 100px;
}
.capitalize {
    text-transform: capitalize;
}

#delete_footer {
    border: 1px transparent solid;
}

.theme-colors {
    display: none;
}

.display_contents {
    display: contents
}

.pull-right{
    float:right;
}

.rounded-link{
    border-radius: 50px;
    -webkit-appearance: none!important;
}

.btn-very-sm{
    padding: .1rem 1rem;
    font-size: .76rem;
    line-height: 1.5;
}

.invoice-container {
    background-color:#ffffff;
    min-height: 1200px;
    min-height: -webkit-fill-available;
    max-width:830px;
    font-family: Helvetica,Arial,sans-serif !important;
    position: relative;
}

.invoice-outer-table {
    width:100%;
    background-color:#ffffff;
    border-collapse:separate !important;
    border-spacing:0;
    color:#242128;
    margin:0;
    padding:30px;
}

.invoice-logo {
    padding-bottom:35px;
    padding-top:15px;
    border-top:0;
    width:100% !important;
}

.invoice-company-brief {
    padding-bottom:35px;
    padding-top:15px;
    border-top:0;
    width:100% !important;
} 

.invoice-company-brief p {
    color: #8f8f8f; 
    font-weight: normal;
    line-height: 1.2;
    font-size: 12px;
    white-space: nowrap; 
}

.invoice-employee-info {
    vertical-align:middle;
    border-radius: 3px;
    padding:30px;
    background-color: #f9f9f9;
    border-right: 5px solid white;
}

.invoice-employee-info p {
    color:#303030;
    font-size: 14px;
    line-height: 1.6;
    margin:0;
    padding:0;
}

.invoice-payslip-info {
    text-align: right;
    padding-top:0px;
    padding-bottom:0;
    vertical-align:middle;
    padding:30px;
    background-color: #f9f9f9;
    border-radius: 3px;
    border-left: 5px solid white;
}

.invoice-payslip-info p {
    color:#8f8f8f;
    font-size: 14px;
    padding: 0;
    line-height: 1.6;
    margin:0;
}

.invoice-salary-detail {
    width: 100%;
    margin-top:40px;
}

.invoice-salary-detail thead th {
    text-align:left;
    font-size: 10px;
    color:#8f8f8f;
    padding-bottom: 15px;
}

.invoice-salary-detail tbody td:nth-child(1) {
    padding-top:0px;
    padding-bottom:5px
}

.invoice-salary-detail tbody td:nth-child(1) h4 {
    font-size: 14px;
    line-height: 1;
    margin-bottom:0;
    color:#303030;
    font-weight:500;
    margin-top: 10px;
}

.invoice-salary-detail tbody td:nth-child(2) p {
    font-size: 13px;
    text-decoration: none;
    line-height: 1;
    color:#909090;
    margin-top:0px;
    margin-bottom:0;
}

.invoice-salary-detail tbody td:nth-child(3) {
    padding-top:0px;
    padding-bottom:0;
    text-align: right;
}

.invoice-salary-detail tbody td:nth-child(3) p {
    font-size: 13px;
    line-height: 1;
    color:#303030;
    margin-bottom:0;
    margin-top:0;
    vertical-align:top;
    white-space:nowrap;
}

.invoice-salary-summary {
    width: 100%;
    margin-top:40px;
}

.invoice-salary-summary td {
    padding: 0
}

.summary-subtitle {
    font-size: 13px;
    text-decoration: none;
    line-height: 1.6;
    color:#909090;
    margin-top:0px;
    margin-bottom:0;
    text-align: right;
}

.summary-value {
    font-size: 13px;
    line-height: 1.6;
    color:#303030;
    margin-bottom:0;
    margin-top:0;
    vertical-align:top;
    white-space:nowrap;
    margin-left:15px;
    text-align: right
}

.green-color {
    color: #3cc14e
}

.custom-switch .custom-switch-input+.custom-switch-btn.linked-switch{
    border-color: #880a1f;
    background: #880a1f;
}

.border-solid {
    border: 1px transparent solid
}

.invoice-salary-detail tbody td:nth-child(2){
    text-align: center
}

.data-table-standard .dtr-details {
    display: inline !important
}

.data-table-standard .dtr-data {
    float: right
}

.contaner-requirement {
    margin-top: 30px
}

.requirement-items {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

.requirement-items:last-child {
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0;
}

.wrapper-requirement-buttons {
    border: 1px solid #ddd;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 15px 15px 15px;
    border-top: 0
}

.requirement-button {
    font-size: 20px;
    padding: 3px;
    width: 38px;
}