#top_button{
  padding-bottom: 10px;
}
#event_information{
  padding-bottom: 10px;
}
#event_information #event_title{
  font-size: 24px;
  font-weight: bold;
}
#event_information div{
  display:inline-block;
}
.btn-primary{
  color: #fff !important;
  background: #51d2b7!important;
}
.btn-primary:hover{
  color: #fff !important;
  background: #389380!important;
}
.footer{
  bottom :auto!important;
}
.mini-thumbnail{
  max-width: 120px!important;
}
.change_picture{
  max-width: 130px!important;
}
.preview-logo{
  max-width: 130px!important;
}
/*wysih*/
ul.wysihtml5-toolbar li a[title="Insert image"] { display: none; }
ul.wysihtml5-toolbar li.dropdown { display: none; }
ul.wysihtml5-toolbar li a[title="Insert link"] { display: none; }
ul.wysihtml5-toolbar li.dropdown { display: none; }
.daterangepicker{
  z-index: 2147483647!important;
}
#event_details_page{
  margin-top: -22px;
}
.primaty-btn-custom {
  background-color: #fb9678;
  border-color: #fb9678;
  color: #fff;
}
.col-6 {
  float: left;
}
.primaty-btn-custom:hover {
  color: #fff;
  background-color: #fa7953;
  border-color: #fa6f46;
}