@media (min-width:1800px) {
  .log-view-pc {
    display:block;
  }
  .log-view-mobile {
    display:none!important;
  }
  .mobile-bottom-nav {
    display:none;
  }
  .view_pc{
    display:block;
  }
  .view_mobile {
    display:none!important;
  }
  .pos-btn-float {
    display:none;
  }
}
@media (max-width:1800px) {
  .log-view-mobile {
    display:none!important;
  }
  .log-view-pc {
    display:block;
  }
  .pos-btn-float {
    display:none;
  }
  .mobile-bottom-nav {
    display:none;
  }
  .view_pc{
    display:block;
  }
  .view_mobile {
    display:none!important;
  }
}
@media (max-width:1600px) {
}
@media (max-width:1400px) {
}
@media (max-width:1200px) {
  
}
@media (max-width:992px) {
  
}
@media (max-width:768px) {
   .log-view-mobile {
    display:block!important;
  }
    .log-view-pc {
    display:none!important;
  }
  .pos-btn-float {
    display:block;
  }
  .mobile-bottom-nav {
    display:flex;
  }
  .view_pc{
    display:none!important;
  }
  .view_mobile {
    display:block!important;
  }
}
@media (max-width:680px) {
  
}
@media (max-width:580px) {
  
}
@media (max-width:480px) {
  .tab_content {
    font-size:13px!important;
  }
  .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
    font-size: 14px;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0 18px!important;
  }
  .head-title-table th {
    padding:3px;
    color:#fff;
    font-size:14px;
    vertical-align:inherit;
  }
  .dataTables_wrapper table.dataTable th, .dataTables_wrapper table.dataTable td {
    font-size:12px;
    vertical-align:middle;  
  }
  table.dataTable tbody tr {
    background: #e0e0e0!important;
  }
  .col-list-pro .right p {
    font-size:15px;
    margin-bottom:3px;
  }
  .col-list-pro .center {
    text-align:right;
  }
  .col-list-pro .left p {
    font-size:15px;
    margin-bottom:3px;
  }
  .pos-head-title {
    margin-bottom:10px;
  }
  .tab_content {
    padding:20px 0;
  }
  .tabs li a {
    display: block;
    padding: 2px 52px;
  }
  .btn-tab-pos {
    width: 69%;
    text-align: center;
    margin: auto;
  }
  .invoice-card {
    width:50%!important;
  }
   .col-md-12 {
    padding:0 5px!important;
  }
  .col-md-9 {
    padding:0 2px!important;
  }
  .col-md-8 {
    padding:0 5px!important;
  }
  .col-md-6 {
    padding:0 5px!important;
  }
  .col-md-4 {
    padding:0 5px!important;
  }
  .col-md-3 {
    padding:0 5px!important;
  }
  .btn-custom-green {
    padding: 2px 3px;
    text-align: center;
    font-size: 9px;
  }
  .img-avatar {
    border-radius: 60%;
    height: 70px!important;
    width: 70px!important;
  }
  .main-wrapper {
    padding-left:15px!important;
    padding-right:15px!important;
  }
  .text-documet {
    font-size:13px!important;
  } 
  .btn-custom-white {
    padding: 4px 12px!important;
    font-size: 9px!important;
  }
  .bet-pro {
    width: 50%!important;
  }
}
@media (max-width:420px) {
  .btn-tab-pos {
    width: 79%;
  }
  .quote-btn {
    min-height: 64px!important;
    max-height: 64px!important;
  }
    .col-md-12 {
    padding:4px 0!important;
  }
  .date-mo {
    font-size: 35px!important;
  }
  .content-same .left span {
    font-size:12px;
  }
  .btn-custom-green {
    padding: 1px 1px!important;
    font-size: 9px!important;
    font-weight: bold!important;
  }
  .title-3 {
    font-size: 12px!important;
  }
  .text-documet {
    font-size:15px!important;
  }
    .col-md-9 {
    width:100%!important;
  }
  .col-md-8 {
    width: 70%!important;
  }
  .col-md-4 {
    width: 32%!important;
  }
  .col-md-6 {
    font-size: 13px!important;
  }
  .pos-img-head-mob {
    width:30%!important;
  }
  .text-mob-head h3 {
    font-size:13px!important;
  }
  .text-mob-head p {
    font-size: 11px!important;
  }
  .quote-btn {
    padding: 27px 8px!important;
  }
  .text-documet {
    font-size: 11px!important;
  }
}
@media (max-width:380px) {
  .btn-tab-pos {
    width: 88%;
  }
  .invoice-card a .body h3 {
    margin:5px 0;
  }
  .pos-card-invo {
    padding: 10px;
  }
  .title-22 {
    font-size:13px;
  }
  .same-3 {
    width: 30%!important;
  }
  .col-md-9 {
    width: 70%!important;
}
}
@media (max-width:360px) {
  .content-same .left span {
    font-size: 10px;
  }
  .litle-text span {
    font-size: 10px;
  }
  .des-3 {
    font-size: 10px;
  }
  .title-22 {
    font-size: 12px;
  }
  .col-md-6 {
    font-size: 10px!important;
  }
  .img-avatar {
    border-radius: 60%;
    height: 60px!important;
    width: 60px!important;
  }
  .col-md-4 {
    width: 28%!important;
  }
  .pos-btn-double {
    width:40%!important;
  }
  .quote-btn {
    padding: 23px 8px!important;
    min-height: 56px!important;
    max-height: 57px!important;
  }
  .text-documet {
    font-size: 9px!important;
  }
  .pos-content-activity span {
    font-size: 25px;
    color: #51d2b7;
  }
  .pos-content-activity h3 {
    font-size: 9px;
  }
  .text-mob-head h4 {
    font-size: 10px;
  }
  .text-mob-head p {
    font-size: 10px!important;
  }
}
@media (max-width:320px) {
  .btn-custom-white2 {
    color: #fff;
    background: #51d2b7;
    padding: 5px 9px;
    border-radius: 6px;
    font-size: 11px;
  }
  .invoice-card a .body h3 {
    font-size: 13px;
  }
  .invoice-card a .head i {
    font-size: 45px;
  }
  .content-same .pos-btn-double {
    width:40%!important;
  }
  .col-md-4 {
    width: 30%!important;
  }
  .content-same .left span {
    font-size: 9px;
  }
  .des-3 {
      font-size: 9px;
  }
}












