
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/vendor/Chart.bundle.min.js"></script>
    <script src="/js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="/js/vendor/moment.min.js"></script>
    <script src="/js/vendor/fullcalendar.min.js"></script>
    <script src="/js/vendor/datatables.min.js"></script>
    <script src="/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="/js/vendor/owl.carousel.min.js"></script>
    <script src="/js/vendor/progressbar.min.js"></script>
    <script src="/js/vendor/jquery.barrating.min.js"></script>
    <script src="/js/vendor/select2.full.js"></script>
    <script src="/js/vendor/nouislider.min.js"></script>
    <script src="/js/vendor/bootstrap-datepicker.js"></script>
    <script src="/js/vendor/Sortable.js"></script>
    <script src="/js/vendor/mousetrap.min.js"></script>
    <script src="/js/dore.script.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/vendor/summernote/summernote.js"></script>
    <script src="/vendor/selectize/selectize.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/jquery.tabletojson.min.js"></script>
    <script src="/js/submit.js"></script>
    <script>
       $(document).ready(function() {
           {{#if messages}}
           swal({
                title: "{{ message_title }}",
                text: "{{ messages }}",
                icon: "{{ messages_type }}",
                });
            {{/if}}
        } );
    </script>
  </body>
</html>
