<div class="footer py-5 border-top text-center">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <p class="mb-0">
          {{#if setting_data.facebook}}<a href="{{setting_data.facebook}}" class="p-3"><span
              class="icon-facebook"></span></a>{{/if}}
          {{#if setting_data.twitter}}<a href="{{setting_data.twitter}}" class="p-3"><span
              class="icon-twitter"></span></a>{{/if}}
          {{#if setting_data.instagram}}<a href="{{setting_data.instagram}}" class="p-3"><span
              class="icon-instagram"></span></a>{{/if}}
          {{#if setting_data.youtube}}<a href="{{setting_data.youtube}}" class="p-3"><span
              class="icon-youtube"></span></a>{{/if}}
          {{#if setting_data.linkedin}}<a href="{{setting_data.linkedin}}" class="p-3"><span
              class="icon-linkedin"></span></a>{{/if}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="mb-0">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script> {{appName}} All rights reserved
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</div>




</div> <!-- .site-wrap -->
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
{{!-- <script src="/js/jquery-ui.js"></script> --}}
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/sweetalert.min.js"></script>
{{!-- <script src="/vendor/datatables/js/dataTables.bootstrap.js"></script> --}}
<script src="/js/vendor/datatables.min.js"></script>
<script src="/vendor/summernote/summernote.js"></script>
<script src="/js/submit.js"></script>
<script src="/jquery-rating-bars/jquery.combostars.js"></script>
<script src="/vendor/selectize/selectize.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function () {
    {{#if rating}}
    $("#reviewModal").modal('toggle')
    {{/if}}
        {{#if info}}
        swal({
          title: "{{ info_title }}",
          text: "{{ info }}",
          icon: "{{ info_type }}",
        }); 
        {{/if}}
          });
</script>

{{{setting_data.googleAnalytic}}}
</body>