<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{name_title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/vendor/datatables.responsive.bootstrap4.min.css" />
  <link rel="stylesheet" href="/css/selectize.default.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/vendor/summernote/summernote.css" />

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/landerz_style.css">

  <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<div class="loading-animation" id="wait">
  <img src="/img/loading.gif">
</div>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-12 text-center mb-4 mt-5">
          {{#if setting_data.logo}}
          <img src="{{setting_data.logo}}" style="max-width: 50px;">
          {{else}}
          <h1 class="mb-0 site-logo"><a href="/" class="text-black h2 mb-0">{{appName}}<span
                class="text-primary">.</span>id </a></h1>
                {{/if}}
        </div>
      </div>
    </div>

    <header class="site-navbar py-md-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center centered-content">

          <div class="col-6 col-md-6 col-xl-2  d-block d-lg-none">
            <h1 class="mb-0 site-logo"><a href="/" class="text-black h2 mb-0">{{appName}}<span
                  class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-12 main-menu">
            <nav class="site-navigation position-relative" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/#home-section" class="nav-link">Home</a></li>
                {{!-- <li><a href="/#features-section" class="nav-link">Features</a></li>
                <li><a href="/#faq-section" class="nav-link">FAQ</a></li>
                <li><a href="/#about-section" class="nav-link">About Us</a></li>
                <li><a href="/#testimonials-section" class="nav-link">Testimonials</a></li>
                <li><a href="/#news-section" class="nav-link">News</a></li>
                <li><a href="/#contactus-section" class="nav-link">Contact Us</a></li> --}}
                <li><a href="/quests" class="nav-link">Quests</a></li>
                {{#if user_data}}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{user_data.name}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item nav-link" href="/my_profile">My Profile</a>
                    <a class="dropdown-item nav-link" href="/my_quest">My Quest</a>
                    <a class="dropdown-item nav-link" href="/my_order">My Order</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-link" href="/signout">Sign Out</a>
                  </div>
                </li>
                {{else}}
                <li><a href="/signin" class="nav-link">Sign In</a></li>
                <li><a href="/signup" class="nav-link">Sign Up</a></li>
                {{/if}}
                <li><a href="/create_quest" class="nav-link btn btn-primary">Create Quest</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 col-md-6 d-inline-block d-lg-none ml-md-0"><a href="#"
              class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>

    </header>