<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <base href="/">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/logo-mobile.svg">
  <title>
    {{name_title}}
  </title>
  <!-- CSS -->
  <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
  <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/vendor/fullcalendar.min.css" />
  <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" href="/css/vendor/datatables.responsive.bootstrap4.min.css" />
  <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css">
  <link rel="stylesheet" href="/css/vendor/select2.min.css" />
  <link rel="stylesheet" href="/css/vendor/select2-bootstrap.min.css" />  
  <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/css/vendor/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/vendor/bootstrap-stars.css" />
  <link rel="stylesheet" href="/css/vendor/nouislider.min.css" />
  <link rel="stylesheet" href="css/vendor/component-custom-switch.min.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap-datepicker3.min.css" />
  <link rel="stylesheet" href="/vendor/summernote/summernote.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/custom.css" />
  <link rel="stylesheet" href="css/selectize.default.css">
      <script src="/js/vendor/jquery-3.3.1.min.js"></script>
  <div class="loading-animation" id="wait">
        <img src="/img/loading.gif">
  </div>
</head>
<body id="app-container" class="menu-default show-spinner">

  <nav class="navbar fixed-top">
    <div class="d-flex align-items-center navbar-left">
      <a href="#" class="menu-button d-none d-md-block">
        <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
          <rect x="0.48" y="0.5" width="7" height="1" />
          <rect x="0.48" y="7.5" width="7" height="1" />
          <rect x="0.48" y="15.5" width="7" height="1" />
        </svg>
        <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
          <rect x="1.56" y="0.5" width="16" height="1" />
          <rect x="1.56" y="7.5" width="16" height="1" />
          <rect x="1.56" y="15.5" width="16" height="1" />
        </svg>
      </a>
      <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
          <rect x="0.5" y="0.5" width="25" height="1" />
          <rect x="0.5" y="7.5" width="25" height="1" />
          <rect x="0.5" y="15.5" width="25" height="1" />
        </svg>
      </a>
      {{!-- <div class="search" data-search-path="Pages.Search.html?q=">
        <input placeholder="Search...">
        <span class="search-icon">
          <i class="simple-icon-magnifier"></i>
        </span>
      </div> --}}
    </div>

    <a class="navbar-logo" href="/admin">
      {{#if setting_data.logo}}<img src="{{setting_data.logo}}" style="max-width: 50px;">{{else}}<h3>{{appName}}</h3>{{/if}}
    </a>
    <div class="navbar-right">
      <div class="header-icons d-inline-block align-middle">
        {{!-- <div class="position-relative d-inline-block">
          <button class="header-icon btn btn-empty" type="button" id="notificationButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="simple-icon-bell"></i>
            <span class="count">3</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right mt-3 scroll position-absolute" id="notificationDropdown">
            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
              <a href="#">
                <img src="img/profile-pic-l-2.jpg" alt="Notification Image"
                  class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
              </a>
              <div class="pl-3 pr-2">
                <a href="#">
                  <p class="font-weight-medium mb-1">Joisse Kaycee just sent a new comment!</p>
                  <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                </a>
              </div>
            </div>
            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
              <a href="#">
                <img src="img/notification-thumb.jpg" alt="Notification Image"
                  class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
              </a>
              <div class="pl-3 pr-2">
                <a href="#">
                  <p class="font-weight-medium mb-1">1 item is out of stock!</p>
                  <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                </a>
              </div>
            </div>

            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
              <a href="#">
                <img src="img/notification-thumb-2.jpg" alt="Notification Image"
                  class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
              </a>
              <div class="pl-3 pr-2">
                <a href="#">
                  <p class="font-weight-medium mb-1">New order received! It is total $147,20.</p>
                  <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                </a>
              </div>
            </div>

            <div class="d-flex flex-row mb-3 pb-3 ">
              <a href="#">
                <img src="img/notification-thumb-3.jpg" alt="Notification Image"
                  class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
              </a>
              <div class="pl-3 pr-2">
                <a href="#">
                  <p class="font-weight-medium mb-1">3 items just added to wish list by a user!</p>
                  <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                </a>
              </div>
            </div>
          </div>
        </div> --}}

        {{!-- <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
          <i class="simple-icon-size-fullscreen"></i>
          <i class="simple-icon-size-actual"></i>
        </button> --}}
      </div>

      <div class="user d-inline-block">
        <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span class="name">{{admin_data.name}}</span>
          <span>
            <img alt="Profile Picture" src="{{#if admin_data.imageProfile}}{{admin_data.imageProfile}}{{else}}img/user.png{{/if}}"/>
          </span>
        </button>

        <div class="dropdown-menu dropdown-menu-right mt-3">
          <a class="dropdown-item" href="/admin/profile">Profile</a>
          <a class="dropdown-item" href="/admin/signout">Sign out</a>
        </div>
      </div>
    </div>
  </nav>

  {{#ifEquals user_data.role "member"}}
  {{>common/sidebar_member}}
  {{/ifEquals}}
  {{#ifEquals user_data.role "store"}}
  {{>common/sidebar_store}}
  {{/ifEquals}}  
  {{#ifEquals user_data.role "admin"}}
  {{>common/sidebar_admin}}
  {{/ifEquals}}
  {{#ifEquals user_data.role "super_admin"}}
  {{>common/sidebar_super_admin}}
  {{/ifEquals}}