<div class="sidebar">
  <div class="main-menu">
    <div class="scroll">
      <ul class="list-unstyled">
        <li id="dashboard">
          <a href="/admin/">
            <i class="iconsminds-shop-4"></i>
            <span>Dashboards</span>
          </a>
        </li>
        <li>
          <a href="/admin/order">
            <i class="iconsminds-shopping-cart"></i>
            <span>Order</span>
          </a>
        </li>  
        <li id="quest">
          <a href="/admin/quest">
            <i class="iconsminds-formspring"></i>
            <span>Quest</span>
          </a>
        </li>      
        <li id="masterdata">
          <a href="#masterdata">
            <i class="iconsminds-big-data"></i> Master Data
          </a>
        </li>
        <li id="setting">
          <a href="#settings">
            <i class="iconsminds-gears"></i> Settings
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sub-menu">
    <div class="scroll">      
      <ul class="list-unstyled" data-link="masterdata">   
        <li>
          <a href="/admin/user">
            <i class="iconsminds-administrator"></i> User
          </a>
        </li>
        <li>
          <a href="/admin/feature">
            <i class="iconsminds-office"></i> Feature
          </a>
        </li>
        <li>
          <a href="/admin/faq">
            <i class="simple-icon-question"></i> FAQ
          </a>
        </li>
        <li>
          <a href="/admin/news">
            <i class="iconsminds-newspaper"></i> News
          </a>
        </li>
        <li>
          <a href="/admin/message">
            <i class="iconsminds-mail-love"></i> Message
          </a>
        </li>
        <li>
          <a href="/admin/testimonial">
            <i class="simple-icon-user-following"></i> Testimonial
          </a>
        </li>
        <li>
          <a href="/admin/survey_profiling">
            <i class="simple-icon-note"></i> Survey Profiling
          </a>
        </li>
      </ul>
      <ul class="list-unstyled" data-link="settings">
        <li>
          <a href="/admin/setting">
            <i class="iconsminds-testimonal"></i> Common
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>