<html style="width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;"><head> 
  <meta charset="UTF-8"> 
  <meta content="width=device-width, initial-scale=1" name="viewport"> 
  <meta name="x-apple-disable-message-reformatting"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta content="telephone=no" name="format-detection"> 
  <title>New email template {{year}}-09-13</title> 
  <!--[if (mso 16)]>
    <style type="text/css">
    a {text-decoration: none;}
    </style>
    <![endif]--> 
  <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]--> 
  <!--
   d888888o. 8888888 8888888888 8 888888888o.    8 8888 8 888888888o       ,o888888o.
 .`8888:' `88.     8 8888       8 8888    `88.   8 8888 8 8888    `88.  . 8888     `88.
 8.`8888.   Y8     8 8888       8 8888     `88   8 8888 8 8888     `88 ,8 8888       `8b
 `8.`8888.         8 8888       8 8888     ,88   8 8888 8 8888     ,88 88 8888        `8b
  `8.`8888.        8 8888       8 8888.   ,88'   8 8888 8 8888.   ,88' 88 8888         88
   `8.`8888.       8 8888       8 888888888P'    8 8888 8 888888888P'  88 8888         88
    `8.`8888.      8 8888       8 8888`8b        8 8888 8 8888         88 8888        ,8P
8b   `8.`8888.     8 8888       8 8888 `8b.      8 8888 8 8888         `8 8888       ,8P
`8b.  ;8.`8888     8 8888       8 8888   `8b.    8 8888 8 8888          ` 8888     ,88'
 `Y8888P ,88P'     8 8888       8 8888     `88.  8 8888 8 8888             `8888888P'
8 888888888o   8 888888888o.   8 8888888888 `8.`888b           ,8'  8 8888 8 8888888888 `8.`888b                 ,8'
8 8888    `88. 8 8888    `88.  8 8888        `8.`888b         ,8'   8 8888 8 8888        `8.`888b               ,8'
8 8888     `88 8 8888     `88  8 8888         `8.`888b       ,8'    8 8888 8 8888         `8.`888b             ,8'
8 8888     ,88 8 8888     ,88  8 8888          `8.`888b     ,8'     8 8888 8 8888          `8.`888b     .b    ,8'
8 8888.   ,88' 8 8888.   ,88'  8 888888888888   `8.`888b   ,8'      8 8888 8 888888888888   `8.`888b    88b  ,8'
8 888888888P'  8 888888888P'   8 8888            `8.`888b ,8'       8 8888 8 8888            `8.`888b .`888b,8'
8 8888         8 8888`8b       8 8888             `8.`888b8'        8 8888 8 8888             `8.`888b8.`8888'
8 8888         8 8888 `8b.     8 8888              `8.`888'         8 8888 8 8888              `8.`888`8.`88'
8 8888         8 8888   `8b.   8 8888               `8.`8'          8 8888 8 8888               `8.`8' `8,`'
8 8888         8 8888     `88. 8 888888888888        `8.`           8 8888 8 888888888888        `8.`   `8'
####################################################################################################################
....................................................................................................................
                          This page was generated automatically for preview purposes only!
                              This template was made with free version of stripo.email!
####################################################################################################################
Please be advised that the code of this email template should not be used for your newsletters as it INCLUDES a bunch
of unnecessary attributes within tags across the whole document. As a result, it is too heavy to be fully rendered in
Gmail and other email clients and, therefore, it may be clipped.
It was generated only for previewing emails in web browsers!
Using the Export feature, as shown in this video, is the only way to get pure HTML code:
https://www.youtube.com/watch?v=aG-JbuwMz_s
Thank you for your cooperation!
....................................................................................................................
Пожалуйста, обратите внимание, что код этого шаблона НЕ ДОЛЖЕН быть использован для ваших рассылок, так как он включает
в себя множество атрибутов в тегах по всему документу. В результате шаблон становится слишком тяжелым, чтобы его можно
было полностью отобразить в Gmail и других почтовых клиентах и, следовательно, можен быть обрезан.
Код этого шаблона был сгенерирован иссключительно для предварительного просмотра электронных писем в веб-браузерах!
Использование функции экспорта, как показано в этом видео, - ЕДИНСТВЕННЫЙ способ получить чистый HTML-код:
https://www.youtube.com/watch?v=aG-JbuwMz_s
Спасибо за ваше сотрудничество!
####################################################################################################################
--> 
  <link rel="shortcut icon" type="image/png" href="https://stripo.email/assets/img/favicon.png"> 
  <style type="text/css">
@media only screen and (max-width:600px) {p, ul li, ol li, a { font-size:16px!important; line-height:150%!important } h1 { font-size:30px!important; text-align:center; line-height:120%!important } h2 { font-size:26px!important; text-align:center; line-height:120%!important } h3 { font-size:20px!important; text-align:center; line-height:120%!important } h1 a { font-size:30px!important } h2 a { font-size:26px!important } h3 a { font-size:20px!important } .es-menu td a { font-size:16px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:16px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class="gmail-fix"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:inline-block!important } a.es-button { font-size:20px!important; display:inline-block!important; border-width:6px 25px 6px 25px!important } .es-btn-fw { border-width:10px 0px!important; text-align:center!important } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { display:table-row!important; width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } .es-desk-menu-hidden { display:table-cell!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } }
#outlook a {
	padding:0;
}
.ExternalClass {
	width:100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height:100%;
}
.es-button {
	mso-style-priority:100!important;
	text-decoration:none!important;
}
a[x-apple-data-detectors] {
	color:inherit!important;
	text-decoration:none!important;
	font-size:inherit!important;
	font-family:inherit!important;
	font-weight:inherit!important;
	line-height:inherit!important;
}
.es-desk-hidden {
	display:none;
	float:left;
	overflow:hidden;
	width:0;
	max-height:0;
	line-height:0;
	mso-hide:all;
}
</style> 
 <meta property="og:title" content="New email template {{year}}-09-13"><meta property="og:description" content="{{appName}}. Home Order Create Quest Hey {{user_name}}! We received a request to set your email to {{user_email}}. If this is correct, please confirm by clicking the button "><meta property="og:url" content="https://viewstripo.email/template/bedecdef-d597-49e6-99df-44daf6de31e0"><meta property="og:type" content="article"></head> 
 <body cgbdi5ohajrqjr9chvixsudtxatjxoyy8nxovzjwn5k3qt2qdno8hmd1gnxvw831b="bXiSN7uTcnHmZIdorVjeL5" style="width:100%;font-family:arial, 'helvetica neue', helvetica, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;"> 
  <div class="es-wrapper-color" t3utroc9ipufga7mm3jo1sm4gmpn5g7x8jndhy2rtreolxfybejd50ayhdgqy2e="MPHrs7hsLxc6zsy70wG0wD2BaTlbTEDYOacQRf6ZNlRCagAc2MIHFpazHQ8qMMJOPh522do9" style="background-color:#FFFFFF;"> 
   <!--[if gte mso 9]>
			<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				<v:fill type="tile" color="#ffffff"></v:fill>
			</v:background>
		<![endif]--> 
   <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" jzj15ojrwnmnle0ms3kwmi6b8t0csx4hy9cqmahoduypzntvodu15grr3jfdajtlo6xpynsouqo93ndw5trunyrz4="22nVwYlKzZ4JLGpwi7PQOnjLdH9LuFUPwhmAJ1MkPWMcVr3WcdNJ0UbnPlN8Z6iK21TEpA9pDnwY6P5UEDokx" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;"> 
    <tbody c2lnne2cwyd5kae46clkcojwwgwyi1aqqamjl1zi1zioa4kpjqnmqxqjkmceyu8rj3epqzpqudxbi4bajjy4owvzliivewwt="8JPTW3YOBAMEooYS7gop08PqSUqbLo1Y6wfB91d29pPXmIApNhwsHHN8DGM80Mbt"> 
     <tr um83bervv4o1hmddqslvptbko6clfqtnok5r7n63="mtYPJQ9wwiHCq5XZg2mFo8grY2jLuE4uzobJb2R3jAA" style="border-collapse:collapse;"> 
      <td valign="top" suih6aesqbxbfrs0vpgdaz="RF4RbWi4bIdNQlOytNklB4PWeOUo6w7Rr9O2RH4Kt1kkIvHaYV5NbdGGjrHmXEjhR0V" style="padding:0;Margin:0;"> 
       <table class="es-header" align="center" cellspacing="0" cellpadding="0" dz1oloj4gwzimmk9m6gpzz7f0uqzwfkfavsze0ihkrw5i57bmcnvj3iometlipg2desucjfjm="4jPPFvrPKPJSyBkD5BrXKQH1eBB6wrErQOl1x0Odl54KkkcuYXFstcsipg9BDf5bv" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top;"> 
        <tbody tlntwghgb9haptsg2jiwt6pwz82ejahkof9ygzfzcvnogoqf="UKcJtIfwQ78CukzFaXiCdzxzJYtGfJcgxjxQFS2yekLRkYn905KUR6taZygegSFFrpusRkfW6A67c"> 
         <tr n91vv3mhwe84d40fn0awkwqpxkj7afnlwwpkyctazjbhcuxbuksblofm8="4uwuExwgOjeGWm7d8F4EbXFOvcNGVL6LhciLSz44AWjzcg4QizT" style="border-collapse:collapse;"> 
          <td class="es-adaptive" align="center" wjcgsdpva9aomeo3v0wxwojopa4y3mtro2dz4ro2qf3fi4rk8qcv3rbdvgjswqodj9oeufv54fy2c0bdsuls2tklccxngt0="gt1zbNImJgCZY6EJEBBUD6whJ9UkWPtcXvdCnAZdR5LNYTWLyQW4Zh1A7rKp49DAnUCe6ZPE" style="padding:0;Margin:0;"> 
           <table class="es-header-body" align="center" width="600" cellspacing="0" cellpadding="0" lr6eihpczfm8r62afqe4au2ka3flhgxlelurmryixy9p7ib6gewbyo8gdz3bqmuppsldg9xdt3p5zx="WdoJlfWlzqxmUXdFJ5z9WV5MNHeNATUWV6rWhZQ2HgQ3JtBBeIimOSFke" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;"> 
            <tbody 1ajniodeqgbe94zhdirmizryja1i5lyzkbcasyp6dx1m7nuxrwcoiscnkutt3lt8u4rdjhdrgj60ewro="9o0fo3kvZjwz4wjzOckEbIIXPUpqmEVG1PNqr7NfDBJr5tN7ejZVCobWNF3AQvI11n3FNMO5w4S0EjwmWfX"> 
             <tr 9qs7dyw3ha5kgklgqstorashj46dtto6grpe6brbi3dka9ujevgerej="Ugn6bjbnvjAW401KM9EN0Zhli2W77x0e0Gp1lKVpX8PznujXHQJDY9InPfIgw2iyGmlfIcdAT1j0b4n2" style="border-collapse:collapse;"> 
              <td align="left" vxowgelowdcqwg5vuwjkmerjqfl0jkyvpkpfwiotlk="nT05S7Z2GqCuVv0T2mnd" style="Margin:0;padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:25px;"> 
               <!--[if mso]><table width="560" cellpadding="0"
                            cellspacing="0"><tr><td width="205" valign="top"><![endif]--> 
               <table class="es-left" align="left" cellspacing="0" cellpadding="0" a5bjasnfmkghdgiwzyjzu7vavrabiyml6dgadphr7kjh78p3qcua8bx4wdit6kzahjumsgcfmygtk1ctppvpadp="SC85USM0ImvvQ74azckNisPYXvsC4Qhq3TFu08yunEU1taQ1u" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;"> 
                <tbody fkr3hddijvwdkalckl9vhf7sxxpqzaylmx75ortgpvotyev6fhlhyelwitaxtmlkuvx="eAyOpxhICpiyv1fmuUTusTHxQqPo7drkMPmphSxOjO7hOS2CHuUn2"> 
                 <tr wnr6ioqqn23fzogxjxtseyxflzsmxdftevhmdxjqd0ulk3zhn3xohihmb8="lSKl3AQAcv9zBY29sCAGLmn65E74o7smS4hBkqNQIhB25djUFl3Nyel47IaSSWMdUejQZTphioXI1slLNA5N1fNXrFkk" style="border-collapse:collapse;"> 
                  <td class="es-m-p0r es-m-p20b" align="center" width="1000" valign="top" efumij2967rt4detnaps1qiortohuixpa1rsgnoxuhllmtvkyojhiqpp6f8wxlfcjgez8f6lzxhk4ggct5kajxi="3dbgGRW13ctz4zUjfbl6" style="padding:0;Margin:0;"> 
                   <table width="100%" cellspacing="0" cellpadding="0" xsxxuepncw3ru3aucjxinsykg95kpu9dbqkqt0haz2lj7lloz5ltahvumbjqjsmodynil="fkVTI8wQCyebce2g8V5UjjyZ3CVP58OAEI9koJDQBux8CrPWuzntwMkCOpAQztc9X" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                    <tbody lokryrkk8w7qpgjqh1klmucr2xigq4teeldwhr="ru5L9PUTElBR8gF47dC8URTGAW8k00bksk7cHFQ3FmhzxdtPV5jP21BwnL6ck5Tl32phYieHbcnK8Hsf37DVq1ZIHkdd2gye"> 
                     <tr ngf301rb6dn997lwmbqzkbc6yo9i2mukk="gFyW9Emyzy9cqv8qjHd8qymrj0iyw2uAOPCe8BW2IuEiTMdJ7d25Ch3c5uaXwqKX76" style="border-collapse:collapse;"> 
                      <td align="center" 1xj2waexvcpyojy3nt1tmu6xlicyw87msb6cujqknaw8yizz1xnmgnaok9ehxlyi9jvzjkwqcvuv9e7lktoiilnihmr7zrihupn="reQfRNGrZYUOmrAe1uQzhsm8JEygtuYH2SGqXgQ2h1xIykMOwUbhxXKOjQqya" style="padding:0;Margin:0;padding-left:15px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#333333;" hllpqwqbgyoy50erkrdnja7smp28tckgrwphxfbcsklwmtk41ycvzqpwfqulosfax="uEBZn2C811k41dA7ZZY4"><strong rdf54hgvhuxrdxfkzcioh36xo="DkZfPeNwX7cGXyVnexxk8XFvF5BdZPutZbTHCJnCQj7gQQytB10hro">{{appName}}.</strong></p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table> 
               <!--[if mso]></td><td width="10"></td><td width="345" valign="top"><![endif]--> 
                
               <!--[if mso]></td></tr></table><![endif]--></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table> 
       <table class="es-content" align="center" cellspacing="0" cellpadding="0" pwihpdzfkd17lehmusdlw="1f1LiVq0F7X9GIFRe9E1Nln7BZWuGvH6q7jXo1qKG0ogzASakvmqDkq" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;"> 
        <tbody cijswsdlvln1psj1l1jnxiubcu1htwnyrnoe00g9gawc3fvjsmjyvftsovfv="iz2Q8i5N6d25gEPvVE7GCpS6M8Cr8fPC4p5l1a"> 
         <tr dxwj6rvmczcapxpek0uw3zznupytnjojgn41smwmn8cadajnzhkrtxfpifzjcjajzi1ogfkimhyziosh4csli4="8LFeoItyjGPy9LN1uE0f5Y8gTcdG2bhwayzgZj5NeEm8VBe4qrIMR02YMdF1t5D" style="border-collapse:collapse;"> 
          <td align="center" uynweqdkm8d5qmywgjhgsi46vc6uf9iqa8bsrxmil="SGCuTseE7B00K5GHYPwl6kVIHd4sRC09UHyYvmLAQPOoODi89wSSU" style="padding:0;Margin:0;"> 
           <table class="es-content-body" align="center" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" p0uurzxjc0rg0hsncu2brjuwhbs32epimpbe2ulnei7ggmnla7oglyo0lhbiphiyoyutdk="8mWGvfutsEXDAyWoZWD62iGoq8ZmnI3NUyB" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;"> 
            <tbody gnir2qne61ml3cdez9adh19xcmzic75xniszxzkzy2kxnw37ib760imrzqibkr2gatlvkqd="gpF6JkblIlJaDRIblKbcEQSi8RfIJ4aBdJnhU1qFY24QPD8YNFYv7rY2eazDQxc4RJK8VOX91HH3PUhED42b"> 
             <tr gzdlmbldssmqsy3g9f0eevhpajsevo9="ZDrmtl4OK5PNnanFKa7U5RD8Z3gIvEqQV89XdNuF" style="border-collapse:collapse;"> 
              <td align="left" grlynsbu8d0mber1vfjo7qd6hf4xm4l3="UMPNC9Sor0T83rejPGBxTPg0qOK8ekLWXPNLZwkteIGtELVqBUNCgB7UrkAvPPQAOjNlFwN5bT5PdJU1efr1ncL32pTy7ImEg" style="padding:0;Margin:0;padding-top:20px;"> 
               <table width="100%" cellspacing="0" cellpadding="0" zx5qcxdnux98nnoifvvmizy0jyxxnkhvqv9ts7j70qcsucubkl="oieQxkeC8ZYTbPL5O26eIdG7Tyv7E0RQzTHowIsJoD254Kd5nlO" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                <tbody l6a6pya2bj5rnw5xt9xwa2qdmirjcaphnjl7wemrnpkcijijfpwzwf7cupjo1ihtq8jcu5mvc9afnp4sb8lsmg="DXXf8ZT1c1uXWlozlAUtFaP905bdPb2AUjKk3zRoy3"> 
                 <tr m7nyasi0ef0wjlydavvtq8zrloxcoqkenxwpgbrf="9iEonHdELQFAewvtoOg0ZRQs1ftQT3VNc2f" style="border-collapse:collapse;"> 
                  <td align="center" width="600" valign="top" gu3n9fammet3iak9baet9dpthbqefabw0pantu1fxctj2ft0sbsca2ji66gd9hyxfvzppbbqcnrz9yh="M6BjOTAFkhA0XIku98uNCc9EEXWqmrlpWx8hUyggkuk1D" style="padding:0;Margin:0;"> 
                   <table width="100%" cellspacing="0" cellpadding="0" uqjxgd57otadnqwf800c7thb8tdozhrhvpciwwcuixgxgpgfgnb4kk2wypgdmmg2jq8yhascbksoliic7h3db1jif="bYZueGR2lXgIcaa6gHG3DsKJ6fr5Bayj3vUuYbJ0OiWis6uHBqubc9JNDkiq4qkqYVHKgrCYxo4RgSZm" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                    <tbody xow8y9svwjyhkurpymwvi6zqgfqux3pnucrtzzidaczlqtwokesq8o3wmiamweo="t3DzoAg72SpAg0JxRnUa4Vpan3lyZT7w2Vd7UTvdCYlx2c86kWpF"> 
                     <tr jrgx7gyqeragbc1y2gcg9jusqyatevkri0kopamucrri4gd3o7hhmdww32tflvx0m2poqtzyrl1kr5qhk6gb3gl9k="xdhKaULJpyUiiEWQ2zANmPW6Avc3FdmWZpvAEU6YVpDG4" style="border-collapse:collapse;"> 
                      <td align="center" 4tafxakmgx8uq0ggsrcsufwzg76="nsnEWONMx8BvzBn6zKg3eJ4qBkBV6OtPBv8D5HCacF3nrRWQzWApVkamV36VfUFftl38aDRF8xRt0385gWEOTBdr" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;"><img class="adapt-img" src="https://i.ibb.co/vJfGRzG/welcome.png" alt="Image" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" title="Image" width="260" egxjd5sy44mvw6zkbt5p="dgoGvHOqaHMCsWoIABnbbGuodJhZ"></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table> 
       <table class="es-content" align="center" cellspacing="0" cellpadding="0" wr6uzayntpow6ifpuoqhm57raobzce3wg1ger96l9jwg6bcixn39g74xqyfmwen="YgCbwPt6nWjf1hbqLhcmt9" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;"> 
        <tbody og98l31obdakjxuaa79djfakwqbtcvcdgjes2oy05kvl5f84kwvaijhuj9pzvd6jztmwgn0dbzxlb1rkr="kQQZHZY8jup58WRivyfD7768j4OmcoRbiEKq7SVspylWsNhmz"> 
         <tr zmdikksn5sjjxquir1djs9esni21acbmrhxxvpxil6qo6qlfq="qSdJGc4zKXTO5Y5ji9GFmBsLXEcQfRA" style="border-collapse:collapse;"> 
          <td align="center" zsgbfblpuibdnuf0xeo7lgdc8q1xqgvdlndjgpxp6kovp="YT5S1zBG91PTBzFEA2gkiYZ65nUvQbEisWYaBn2MVPzgYa7vuO0IbEWZm7oin8k4rkpBdpe1KtB6NMrBcTYD" style="padding:0;Margin:0;"> 
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;border-left:1px solid transparent;border-right:1px solid transparent;border-top:1px solid transparent;border-bottom:1px solid transparent;" align="center" width="600" cellspacing="0" cellpadding="0" bgcolor="#ffffff" 4mfdnrfd9ifi7t5au4jhlf9azovb="qgTBjLHZXichEjw6GWYZjUwokpCWXceiuJMDpNHSGn"> 
            <tbody nia2cyluogshhyaqh8amhu1seort3eboyfyakcjllvknzy1msoxquirklgo="piPwtOF3Jkq2SwhyaMdVe8U2ADSW5T"> 
             <tr v08srd9jv3lba1jsgozvf8yfzb66rxdvwxaietl4dkjwrqjgrkhd5jybrkvmzmyqxb0esvpfdyppj="G9XuGHEXlW1PHkLOKd1g1kMVueDwnpWwOPtelye6hYbQDwXjbLP" style="border-collapse:collapse;"> 
              <td align="left" ihopdgylfhehuh4vli5uzlnekwswspayf5liudnosnf09no6xe="H3PESuJgsxJYdRXGGeOr8NhubNWuLaVl4aO1WzC13kkWfrcQDBdCtvLeOcOgYpo4FJ1rtxsva2gi05dwLS0fDQ0PKTc" style="Margin:0;padding-top:20px;padding-bottom:40px;padding-left:40px;padding-right:40px;"> 
               <table width="100%" cellspacing="0" cellpadding="0" bfjjcivf3ix12v0phpvrwclzfnczptsayu8ws1xhosiiiifgilvsrohaaclum6cm115wbrnqn="h16InkLrcpH1Yl9QKxbKWaGAKNGr5NbVFusqZUnVmnUAX2OpEM7F6Xid7q3sQfJodUJWqJKP" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                <tbody v7sodceg1cffusefsgljc3wyeklztar0vjdx95bheebjnq9j310e8r3866qpmevu9yy2dnthjzh0u="5YK455zN4lM7iC6lBypqgfteZUCL7rSAcQjEqDyz3ebc3YYJU"> 
                 <tr irzn6aqzq1u1pasxva2dzxedwf1hq5temn6cu7ldlogedtsv3x5uvernh5dok8yzb0="VZYFAFQdF6Z1aT9sjjareW7QoZljNgL" style="border-collapse:collapse;"> 
                  <td align="left" width="518" wqxyyeffic0ucc2zep9ggy1bvvoabnsg1kiigzdkza0qzdfaojvcmcg0bbueb5rgpyxnk7nvkghiuwqoeh9ojwusz="5vkyuqd7RL3Fyee3ZIs8pS7dJCL7IdLKgsgoKmxiUSGW7tTO5yBjie3CtzzY8Ds999BNV0yRM14vDJ0" style="padding:0;Margin:0;"> 
                   <table width="100%" cellspacing="0" cellpadding="0" gfkija4qovjhikty15bngddhzq6jmorcwu="Tmpzy2R4xxJuAdeS1DtgpTJPewMW4ZYDfoJ9YRROPz7cm24kKJuWjDdHmPschnpx39Zi2vLzbLO" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                    <tbody xileubpldvbieutfuqk8lvoywdypxzcbw0xyyt3knz8so="P0qkOc3f6NotjbSIKqS3EmT0iwH0GhN54qgb92aZs16IZqh33b8RHbvCzPfstB7DDutHmFjV2BH7kbZLtcciVKvk6L"> 
                     <tr wbv29piakqbjja0oillfqnn7ik3ujianwyeiaofqa7rb9v6zkmbno7="Eoktgtk3AubEDhyZ3AQEPxKJACDpUkBQ1RncbgYyuXHPjpnjPMo2g3aMg4ef2gx7G" style="border-collapse:collapse;"> 
                      <td class="es-m-txt-c" align="center" uclej9fvctbtbm1vpk8qkn75xtd2hlaeuqppfrwrcjermiuqzy0ifljd02av86dgkw2t1xdokq7="s7CkeCMDAH9MonrCkcgw3t5lgKagPwxnKqIFvTaheMnolFV1icM6f4dUx6WP0sf8Ph93jRH0yxaOmyK" style="padding:0;Margin:0;"><h2 q785vflpc5fawcjrjr2ucsx12wph5rv8ftu6npyerm4gelqsxgged0lbizxqafdr8="eK2gCEfQ9y7oa4iaHekPlR6LT6BlIFofCTP" style="Margin:0;line-height:29px;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:24px;font-style:normal;font-weight:normal;color:#333333;">Hey {{user_name}}!</h2></td> 
                     </tr> 
                     <tr hhibozjiobas0suvpp1xzuw5owxwqvdefvva6om3rho="zb7ysEQgbtcCdIGGguOS8jTlsBxkb2qH9OCCymB8ow" style="border-collapse:collapse;"> 
                      <td class="es-m-txt-c" align="center" ebyrkuyilgkodc7ibswhpw0ubpvht4zunyfghjpa3nbxs6sxt5qa5r3tdbyb1ofkqnbnxd3xripuyvasytxv9cj7agf="d8SwilIbGapULokIXUITTXBbrJ9ib3MataYVrhnB7hU" style="padding:0;Margin:0;padding-top:15px;"><p 8seqqa1iunsnj0n74hrpknwsrufncreoiwlxxhedla9toqofko6mpx4tvsjuatqnbmz3swecx737pozg0="Pp3IUhQ5owVuwNOluQ0xQfKHbISVcCiFULzjkio5GkTEvgpF" style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;">We received a request to set your email to {{user_email}}. If this is correct, please confirm by clicking the button below. If you don’t know why you got this email, please tell us straight away so we can fix this for you.</p></td> 
                     </tr> 
                     <tr hsxcgok3dna2o6mxqbweodtiyalfjsfynmereu1rjisj3kdg6jlsmsinxdfqy5jrjielb3qnyyb="jwGAsm4W0QZhGDXwXLtVV7rUhUrG9UHzT8wvWOCb5w99lrFi8LY8U7asj6Fhe1" style="border-collapse:collapse;"> 
                      <td align="center" 7zh6xoazabudw5natnsiogbwl="qonQ6UnUa9VIcrVZpd0wgQvI14fC7kDz" style="Margin:0;padding-left:10px;padding-right:10px;padding-bottom:15px;padding-top:20px;"><span class="es-button-border" yrahtfdfayyrvxu3mpt0he0saehbhgvkxrvgymkyvzjtvd="MnFCHw6PiMmaHX30udiI53kyBB2ZQbBTCNY3QWn6ewmgmpVU1mCKJg8ZTtbUMkhRvaMNhbZu4TioZm1gp7WfsM4Zbgt" style="border-style:solid;border-color:#474745;background:#474745;border-width:0px;display:inline-block;border-radius:20px;width:auto;"><a href="{{confirmation_url}}" class="es-button" target="_blank" uhvprurysdorboh5e2eys1ih7va25y75w53zkrsikbbvtbf1wsz5ofnfsycwxhfpsfwjmgzkqtszdryuvuklm8dbzb3qqyc="VxRspiOcuW2DYyXIosfiHNPpmTojfPeAwFWgWVfovj1aqVI" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:16px;color:#EFEFEF;border-style:solid;border-color:#474745;border-width:6px 25px 6px 25px;display:inline-block;background:#474745;border-radius:20px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center;">Confirm Email</a></span></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table> 
       <table class="es-content" align="center" cellspacing="0" cellpadding="0" ycqrewadflx0mycmkpbxpvuna6eclaivs5r5bebthnf1wobjbvdvraamftscvxbmwonzli0n="KWmXPdCt97axB5rw21tdSpIETxzSmURazNW7DHeBN4vKbIQR14recDTJYFAO8XjBPgw23CtmmZrnwWxbZDEBxViVhUe9EnMfWm" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;"> 
        <tbody xfzqf6p7a7ghs1tolwtmgqk9jkpq46ve2f9owhnd74n98x4r260lnnfe0cj896cf7c="RgHzrLKQzLD9DEmLaVGxVCKWIfda2r"> 
         <tr 5ljxs4pelz7jxoqq5hm2p6bna5q="ncyAYjDshZqBQFLnuPScqV1bdqrMeiNpr4bZTC02eG" style="border-collapse:collapse;"></tr> 
         <tr k3knkoq3a1cvcnafxi7kiuxcji3ic2mwet3t8kpi0t0zpk="ln1wY8hoQf15XOeQ3X7CENFljibegpNZqr9j6JNWuGgCVtR0hh" style="border-collapse:collapse;"> 
          <td style="padding:0;Margin:0;background-color:#F7F7F7;" align="center" bgcolor="#f7f7f7" jolhwcmaq055h4xjmkvv5ajewr3xwcav8dqlstk1zphhy="UohREfZ5rwXmwqjeAZAWNTReVMbzUqv88bnKRMRIR7GCgUlTFpUC3xOzglMO6Wnyvj2iTmAiLQETYeWm"> 
           <table class="es-footer-body" align="center" width="600" cellspacing="0" cellpadding="0" rp6oi6b2cydaxu0fmwmm7wyyzeg2kvshq7rrjnrxvp4c68sbgrt9wnsnpxmfbwz4a2="f9suYgBptBBNP7vpoyXSzeMnc2oBQIbKSnUZApA54LMYbGuz5UvxzRZwm4KoG8bx" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F7F7F7;"> 
            <tbody suvqrneyp7qvle5ypmdoha7m3gm7enzt8nwssgawbw2icoin6krkvdkghoja="3vqbm3rI6ttpZJRBjYgGbGEffyDS05vk5Inv8kCiUNIcj4foXJNqsJBoU03jAUIpZtng11tHfMTSGIO8LdbxZnMIVtp8ZX"> 
             <tr rri1s3vf7qziqe9bf2g9qbnidsyjci0qskgvoblzbx7noxjmw5u0ngmf9wllobjtrhncd0ise7d="V68Xn7fI1sgfLVG4UWx7rccJeRiTFAJhx1HeNZHaFlx2XNq1yNy9gdrbzF0xTZNMjR0gZt9dg2d7wqwzFUGmBto7T1e" style="border-collapse:collapse;"> 
              <td align="left" 5kf3zwwnjm0snlkazytahsnnccc7k2t9sgmlfahbzwz5qxdwk9dcyqqqaeu4rmjk2gwq39il4vbtwjec29wecpxpqmdlzj="p1pNFhj2ZgNPR0EeY1QJYc6YRA2ITgLi" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;"> 
               <table width="100%" cellspacing="0" cellpadding="0" zetegstphftfnvbpvdw9rppkgzrxh6crt4p7flxeg8ey7c4mnggfk5eas4udivsilsyczq="fnudYzLyhxtVIXv5gMcJBsAXBR8Be3gnM3WO7Pcy8BfUfKnnRVh" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                <tbody cc7ueqzxvmnxmomnlyrvfdrjaccg6xfroyawovl2mgawnjemtnoln4dyx0hzwjb="MupFEYi89yaoVVY66A2vN202k0JmFC8aPmJHSH5FSh62sn"> 
                 <tr adaqhzoprpaj4u72radrru4kjrrdvksnvivqthmaz="UBTYAGiKM7T7rjLJ6UUr4LysoyhkeQsw7D6lpqpSP4MnCzDjFkIUVxppTmjy5TrEjZ1Ql0OAzOD11UmXVrSDzxpGILWah" style="border-collapse:collapse;"> 
                  <td align="center" width="560" valign="top" 6lrcdsfapouz36nvnkjmhutwcabjrhkumkzyrcm2gtayo="jANXgQXBV0Dm1wb3usFoiUUdD" style="padding:0;Margin:0;"> 
                   <table width="100%" cellspacing="0" cellpadding="0" xkmewjmvtvj3aml0jyyotvk9eyr8f4px1apztz1s7pkpbbtkyrnkcoeaudsemhyvlmdao2m="Sflp2VQwIHEix2ozX6MjyRQttp14v8fHJGlXwhAcmxuKcpRXyiJ7ZUTeN5s" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                    <tbody yizb2odqbjpesxlhuvx0m9rp9uqdiupiliqq5vmti8etuhe2yfecuipt7m3g9rm2fo0jsngaefzzwmlzyqrmm="kQPKcgdbK3xFGnolLJME1njw2wYy2KeB8"> 
                     <tr mqahiwq1ma7oakeug6nlk4tf0nowtyaoijmhxnhkaziwx3cj="bUz8VJxQBwDZ4bmsdVWlBNkLApxqCNusrErTkw2MuGWL9bZ6Rp55IFltqEMoSVSPsIQESzLGvtYzB2wEzvtjWp47AbmUygf" style="border-collapse:collapse;"> 
                      
                     </tr> 
                     <tr vcyymatulw20bmnijhv0jeuczzgyttzrupxcqa9ixxklewqje6fw="EqVXam4i40o7RbYW8rlv3r0ZkTjYUrx" style="border-collapse:collapse;"> 
                      <td align="center" recfo0wi7c0zz13v4kafaemiennlnhjy0vvijjdtamp9y3uxyvrok6fhh1l5rpso81iegpi="HKJ5INOUqf3DLdTFITtqymDFHbsB5DkFMGIZziOriLmoDnHUiZACBjm" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;"> 
                       <table class="es-table-not-adapt es-social" cellspacing="0" cellpadding="0" ufjc97wz9g8wuw8rdatbkdtkszrbzqfwf1gtw0="yiiwAk1YzvBwWH7chE0QATeNqUJSHb3rCLoQFKN9s7Kw" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;"> 
                        <tbody zdgfxvllqknpx5abci9kp2chbnbwywm1szecfgmyfqakgylq6y01toetc84iztryr73bl8zwwmuzresm84wfmpskt="znm60p8OIm0IGN6XLXB5iJcTPEHBRFUiraSdmLG7xEe43ftpLF0RF12GH6wT9MCK2UaCpkSvo9gbk"> 
                         <tr lbqh49pdr8umxaapbqxr67yjqaghbu18av96xu1eupvhw71ip4bje="QqxklwJiWovtFHIoCUVNg792WkJJAgGPXw8nVRqFGP5OW79zH" style="border-collapse:collapse;"> 
						</tr> 
                       </tbody></table></td> 
                     </tr> 
                     <tr rcg0bp5zd5wpc46xp3gvsf1vq7ruaqrdzniu2ekmpfmsqhosac="O9JB7cxgtfBZdn9vyd9JUQSQ0H" style="border-collapse:collapse;"> 
                      <td align="center" aqy9uzygthjyjloxziqxxmzg="2VEmcWo3thBsunAELSplNf621XXicgVUHiigLSk9tlTTG3ArqOqGc0OYzVgg9LCAJ9klaaZ" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;"><p ykc524a2kr1bqtthzobicrfsgl="MvQ5j4HLzQ0tIwJHupVpBBj" style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;">© {{year}}&nbsp;{{appName}} All rights reserved</p></td> 
                     </tr> 
                   </tbody></table></td> 
                 </tr> 
               </tbody></table></td> 
             </tr> 
           </tbody></table></td> 
         </tr> 
       </tbody></table></td> 
     </tr> 
   </tbody></table> 
  </div> 
  <div style="position:absolute;left:-9999px;top:-9999px;margin:0px;" nt6hz4qrqya2xf2ww12kxxltowvk4exockpgqhvy20qovqkhdxwyghueuc1jbojrin3fo8dnln="hQN5OgpikQMhVtemoOZeyEtNkPFlLMTarQasgK2DSbt89h"></div>  
 
</body></html>