<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4 mb-lg-12">
                <div class="card">
                    <form method="post" action="">
                    <div class="card-header centered-content">
                        <h4 class="centered-content">Anonymous Profiling</h4>
                    </div>
                    <div class="card-body">
                        {{#each survey_profiling}}
                        <div class="form-group">
                            {{#ifEquals this.type "text"}}
                            <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control"
                                placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "email"}}
                            <input type="email" name="{{this._id}}" id="{{this._id}}" class="form-control"
                                placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "number"}}
                            <input type="number" name="{{this._id}}" id="{{this._id}}" class="form-control"
                                placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "date"}}
                            <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control datepicker"
                                placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "textarea"}}
                            <textarea name="{{this._id}}" id="{{this._id}}" class="form-control"
                                placeholder="Type Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}}></textarea>
                            {{/ifEquals}}
                            {{#ifEquals this.type "select"}}
                            <select name="{{this._id}}" id="{{this._id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}}>
                                <option value="">Select {{this.question}}</option>
                                {{#each this.data}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                            {{/ifEquals}}
                            {{#ifEquals this.type "checkbox"}}
                            <div class="form-group">
                                <label for="{{this._id}}" class="checkbox">{{this.question}}</label>
                                <input id="{{this._id}}" type="checkbox" value="true" {{#ifEquals this.required true}}
                                    required{{/ifEquals}}>
                            </div>
                            {{/ifEquals}}
                            {{#ifEquals this.type "multiple"}}
                            <select name="{{this._id}}" id="{{this._id}}" class="selectize-input-style selectize"
                                placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} multiple />
                            <option value="">Select {{this.question}}</option>
                            {{#each this.data}}
                            <option value="{{this}}" style="text-transform: capitalize">{{this}}</option>
                            {{/each}}
                            </select>
                            {{/ifEquals}}
                            {{#ifEquals this.type "file"}}
                            <input type="file" name="file" id="{{this._id}}" class="form-control"
                                placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} />
                            {{/ifEquals}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>