<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4 col-lg-4 mb-4 mb-lg-12">
                <div class="card">
                <div class="card-header centered-content"><h4 class="centered-content">Answer the quest!</h4></div>
                <div class="card-body"><h5 class="centered-content">{{quest.title}}</h5><hr>   
                <p  class="centered-content">By {{quest.userRef.name}}</p>
                </div>
                <div class="card-footer">
                    <a href="/anonymous_profiling/{{quest.code}}" class="btn btn-success btn-block">Answer as Anonymous</a>
                    <hr>
                    <p class="centered-content">OR</p>
                    <a href="/signup" class="btn btn-primary btn-block">Sign Up</a>
                    <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>