    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Challenges</h1>
            <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
            </div>  
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Features
                </li>
                <li class="breadcrumb-item active" aria-current="page">Challenges</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Subtitle</th>
                    <th>Points Offered</th>
                    <th>Valid From</th>
                    <th>Valid To</th>                   
                    <th>Requirements</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each challenge_list}}
                    <tr>
                      <td>{{this.title}}</td>
                      <td>{{this.subtitle}}</td>
                      <td>{{this.pointsOffered}}</td>
                      <td>{{dateFormat this.validFrom "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.validTo "MM/DD/YYYY" utc}}</td>     
                      <td>
                        {{#each this.requirements}}
                          {{{renderRequirements this.type this}}}
                        {{/each}}
                      </td>                 
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        <button type="button" class="btn btn-outline-secondary mb-1 edit_challenge" data-url="{{../user_data.role}}/challenge/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                          <div class="glyph-icon simple-icon-pencil"></div>
                        </button>                        
                        <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../user_data.role}}/delete_challenge/{{this._id}}" data-target="#delete_modal">
                          <div class="glyph-icon simple-icon-trash"></div>
                        </button>                   
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post"> 
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Challenges</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Title</label>
                <input name="title" id="title" type="text" class="form-control" autocomplete="off" required>
              </div>  
              <div class="form-group">
                <label>Subtitle</label>
                <textarea class="form-control error" rows="4" name="subtitle" id="subtitle" required="" spellcheck="false" aria-invalid="true" required></textarea>                                 
              </div>                     
              <div class="form-group">
                <label>Points Offered</label>
                <input name="pointsOffered" id="pointsOffered" type="number" class="form-control" autocomplete="off" required>
              </div>      
              <div class="form-group">
                <label>Valid From </label>
                <input name="validFrom" id="validFrom" type="text" class="form-control datepicker" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label>Valid To</label>
                <input name="validTo" id="validTo" type="text" class="form-control datepicker" autocomplete="off" required>
              </div>                                                            
              <div class="contaner-requirement">
                <label style="margin-bottom:0">Requirements</label>
                <div class="wrapper-requirement-items" id="wrapper_requirement_items">              
                  <div class="requirement-items">
                    <div class="form-group">
                      <label>Type</label>
                      <select name="types" class="form-control capitalize" required>
                        <option value="" >&nbsp;</option>
                        {{#each type_list}}
                          <option class="capitalize" value="{{this.val}}">{{this.name}}</option>
                        {{/each}}
                      </select>
                    </div>  
                    <div class="form-group" id="product" data-type="product" style="display:none">
                      <label>Product</label>
                      <select name="products" class="form-control capitalize">
                        <option value="" >&nbsp;</option>
                        {{#each product_list}}
                          <option class="capitalize" value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                      </select>
                    </div>  
                    <div class="form-group" id="product_group" data-type="product_group" style="display:none">
                      <label>Product Group</label>
                      <select name="productGroups" class="form-control capitalize">
                        <option value="" >&nbsp;</option>
                        {{#each product_group_list}}
                          <option class="capitalize" value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                      </select>
                    </div>  
                    <div class="form-group" data-type="product_category" style="display:none">
                      <label>Product Categories</label>
                      <select name="productCategories" class="form-control capitalize">
                        <option value="" >&nbsp;</option>
                        {{#each product_category_list}}
                          <option class="capitalize" value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                      </select>
                    </div> 
                    <div class="form-group" data-type="visit_days" style="display:none">
                      <label>Visit Day</label>
                      <select name="visitDays" class="form-control capitalize">
                        <option value="" >&nbsp;</option>
                        {{#each days_list}}
                          <option class="capitalize" value="{{this}}">{{this}}</option>
                        {{/each}}
                      </select>
                    </div>    
                    <div class="form-group" data-type="minimum_payment" style="display:none">
                      <label>Minimum Payment</label>
                      <input name="minimumPayments" type="number" min="0" class="form-control" autocomplete="off">
                    </div> 
                    <div class="form-group" data-type="number_of_visit" style="display:none">
                      <label>Number Of Visit</label>
                      <input name="numberOfVisits" type="number" min="0" class="form-control" autocomplete="off">
                    </div>                                                                                                          
                  </div>
                </div>
                <div class="wrapper-requirement-buttons">
                  <button type="button" data-type="create" class="add_requirements btn btn-primary requirement-button">+</button>
                  <button type="button" data-type="create" class="remove_requirements btn btn-outline-primary requirement-button" style="display:none">-</button>  
                </div>
              </div>                 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>           
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{user_data.role}}/update_challenge" method="post"> 
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Challenges</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">                 
              <div class="form-group">
                <label>Title</label>
                <input name="title" id="title_edit" type="text" class="form-control" autocomplete="off" required>
              </div>  
              <div class="form-group">
                <label>Subtitle</label>
                <textarea class="form-control error" rows="4" name="subtitle" id="subtitle_edit" required="" spellcheck="false" aria-invalid="true" required></textarea>                                 
              </div>                     
              <div class="form-group">
                <label>Points Offered</label>
                <input name="pointsOffered" id="pointsOffered_edit" type="number" class="form-control" autocomplete="off" required>
              </div>      
              <div class="form-group">
                <label>Valid From </label>
                <input name="validFrom" id="validFrom_edit" type="text" class="form-control datepicker" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label>Valid To</label>
                <input name="validTo" id="validTo_edit" type="text" class="form-control datepicker" autocomplete="off" required>
              </div>                                                            
              <div class="contaner-requirement">
                <label style="margin-bottom:0">Requirements</label>
                <div class="wrapper-requirement-items" id="wrapper_requirement_items_edit">              
                </div>
                <div class="wrapper-requirement-buttons">
                  <button type="button" data-type="update" class="add_requirements btn btn-primary requirement-button">+</button>
                  <button type="button" data-type="update" class="remove_requirements btn btn-outline-primary requirement-button" style="display:none">-</button>  
                </div>
              </div>                 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>           
      </div>      
    </div>    

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    

    <div id="requirement_item_form_template" style="display:none">
      <div class="form-group" data-type="type">
        <label>Type</label>
        <select name="types" class="form-control capitalize">
          <option value="" >&nbsp;</option>
          {{#each type_list}}
            <option class="capitalize" value="{{this.val}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>  
      <div class="form-group" data-type="product" style="display:none">
        <label>Product</label>
        <select name="products" class="form-control capitalize">
          <option value="" >&nbsp;</option>
          {{#each product_list}}
            <option class="capitalize" value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>  
      <div class="form-group" data-type="product_group" style="display:none">
        <label>Product Group</label>
        <select name="productGroups" class="form-control capitalize">
          <option value="" >&nbsp;</option>
          {{#each product_group_list}}
            <option class="capitalize" value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>  
      <div class="form-group" data-type="product_category" style="display:none">
        <label>Product Categories</label>
        <select name="productCategories" class="form-control capitalize">
          <option value="" >&nbsp;</option>
          {{#each product_category_list}}
            <option class="capitalize" value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div> 
      <div class="form-group" data-type="visit_day" style="display:none">
        <label>Visit Day</label>
        <select name="visitDays" class="form-control capitalize">
          <option value="" >&nbsp;</option>
          {{#each days_list}}
            <option class="capitalize" value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>    
      <div class="form-group" data-type="minimum_payment" style="display:none">
        <label>Minimum Payment</label>
        <input name="minimumPayments" min="0" type="number" class="form-control" autocomplete="off">
      </div> 
      <div class="form-group" data-type="number_of_visit" style="display:none">
        <label>Number Of Visit</label>
        <input name="numberOfVisits" min="0" type="number" class="form-control" autocomplete="off">
      </div>                                                                                                          
    </div>     