    <main>
      <div class="container-fluid">
        <div class="row  ">
          <div class="col-12">

            <h1>Dashboard</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Library</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>


          </div>
          <div class="col-lg-12 col-xl-6">
            <div class="icon-cards-row">
              <div class="owl-container">
                <div class="owl-carousel dashboard-numbers">
                  <a href="/admin/quest" class="card">
                    <div class="card-body text-center">
                      <i class="iconsminds-formspring"></i>
                      <p class="card-text mb-0">Quest</p>
                      <p class="lead text-center">{{total_quest}}</p>
                    </div>
                  </a>
                  <a href="/admin/user" class="card">
                    <div class="card-body text-center">
                      <i class="simple-icon-people"></i>
                      <p class="card-text mb-0">User</p>
                      <p class="lead text-center">{{total_user}}</p>
                    </div>
                  </a>
                  <a href="/admin/message" class="card">
                    <div class="card-body text-center">
                      <i class="iconsminds-mail-love"></i>
                      <p class="card-text mb-0">Messages</p>
                      <p class="lead text-center">{{total_message}}</p>
                    </div>
                  </a>
                  <a href="/admin/order" class="card">
                    <div class="card-body text-center">
                      <i class="iconsminds-shopping-cart"></i>
                      <p class="card-text mb-0">Order</p>
                      <p class="lead text-center">{{total_order}}</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-12 mb-4">
            <div class="card">
              <div class="position-absolute card-top-buttons">
                <button class="btn btn-header-light icon-button">
                  <i class="simple-icon-refresh"></i>
                </button>
              </div>

              <div class="card-body">
                <h5 class="card-title">Recent Quests</h5>
                <div class="scroll dashboard-list-with-thumbs">
                  {{#each recent_quest}}
                  <div class="d-flex flex-row mb-3">
                    <div class="pl-3 pt-2 pr-2 pb-2">
                      <a href="javascript: void(0)">
                        <p class="list-item-heading">{{this.title}}</p>
                        <div class="pr-4 d-none d-sm-block">
                          <p class="text-muted mb-1 text-small">{{this.userRef.name}}</p>
                        </div>
                        <div class="text-primary text-small font-weight-medium d-none d-sm-block">
                          {{dateFormat this.createdDate "MM/DD/YYYY" utc}}</div>
                      </a>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>