<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Create Quest Success!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4 col-lg-4 mb-4 mb-lg-12">
                <div class="card">
                <div class="card-header centered-content"><h4>Your quest saved as a draft!</h4></div>
                </div>
                <div class="card-footer"><a href="/my_quest/" class="btn btn-primary btn-block">Done</a></div>
                </div>
            </div>
        </div>
    </div>
</div>