<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Edit Quest</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4 mb-lg-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="mb-0">
                            Edit Quest
                        </h3>
                    </div>
                    <div class="col-md-3"><br><a class="btn btn-outline-secondary mb-1 btn-primary" href="/my_quest">
                        <span class="fa fa-arrow-left"></span> Back
                    </a></div>
                    <hr>
                    <div class="card-body">
                        <form method="post" action="">
                            <h4>General</h4>
                            <hr>
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" name="title" type="text" value="{{quest.title}}">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" name="description" id="description" value="{{quest.description}}" type="text" required>
                            </div>
                            <div class="form-group">
                                <label>Target Respondent</label>
                                <input class="form-control" name="targetRespondent" type="number"
                                    value="{{quest.targetRespondent}}">
                            </div>
                            <h4>Target Respondent</h4>
                            <hr>
                            <input class="hidden" name="profiling" type="text" id="profiling"
                                value="{{profiling quest.profiling}}">
                            <label>Data : </label>
                            <span id="data-profiling">
                                {{#each quest.profiling}}
                                {{#if this.maxValue}}
                                <span class="badge badge-primary remove-profiling"
                                    id="{{this._id}}">{{this.surveyprofiling.question}}({{this.minValue}} -
                                    {{this.maxValue}} )</span>
                                {{else}}
                                <span class="badge badge-primary remove-profiling"
                                    id="{{this._id}}">{{this.surveyprofiling.question}} ({{this.value}})</span>
                                {{/if}}
                                {{/each}}
                            </span>
                            <div class="form-group">
                                <label>Profiling Type :</label>
                                <select name="profiling_type" id="profiling_type" class="form-control">
                                    <option value="">Choose Profiling Type</option>
                                    {{#each survey_profiling}}
                                    <option value="{{this._id}}" data-type="{{this.type}}"
                                        data-question="{{this.question}}">{{this.question}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group" id="value_type_bucket">
                                <label>Value Type :</label>
                                <select name="value_type" id="value_type" class="form-control">
                                    <option value="">Choose Profiling Type</option>
                                    <option value="single">Non-Range</option>
                                    <option value="range">Range</option>
                                </select>
                            </div>
                            {{#each survey_profiling}}
                            <div class="form-group hidden survey_profiling {{this._id}}" id="survey_value">
                                {{#ifEquals this.type "text"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <input type="text" name="{{this._id}}" class="form-control single-input"
                                        placeholder="{{this.question}}" />
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "email"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <input type="email" name="{{this._id}}" class="form-control single-input"
                                        placeholder="{{this.question}}" />
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "number"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <input type="number" name="{{this._id}}" id="{{this._id}}"
                                        class="form-control single-input" placeholder="{{this.question}}" />
                                </div>
                                <div class="range  hidden">
                                    <input type="number" name="{{this._id}}" class="form-control min"
                                        placeholder="{{this.question}} Min" /><br>
                                    <input type="number" name="{{this._id}}" class="form-control max"
                                        placeholder="{{this.question}} Max" />
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "date"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <input type="text" name="{{this._id}}" class="form-control datepicker single-input"
                                        placeholder="{{this.question}}" />
                                </div>
                                <div class="range  hidden">
                                    <input type="text" name="{{this._id}}" class="form-control datepicker min"
                                        placeholder="{{this.question}} Min" /><br>
                                    <input type="text" name="{{this._id}}" class="form-control datepicker max"
                                        placeholder="{{this.question}} Max" />
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "textarea"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <textarea name="{{this._id}}" class="form-control single-input"
                                        placeholder="{{this.question}}"></textarea>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "select"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <select name="{{this._id}}" class="form-control single-input">
                                        <option value="">Select {{this.question}}</option>
                                        {{#each this.data}}
                                        <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "checkbox"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <div class="form-group">
                                        <label for="{{this._id}}"
                                            class="checkbox single-input">{{this.question}}</label>
                                        <input type="checkbox" value="true">
                                    </div>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "multiple"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <select name="{{this._id}}" class="form-control selectize single-input"
                                        placeholder="Select Your {{this.question}}" multiple />
                                    <option value="">Select {{this.question}}</option>
                                    {{#each this.data}}
                                    <option value="{{this}}" style="text-transform: capitalize">{{this}}</option>
                                    {{/each}}
                                    </select>
                                </div>
                                {{/ifEquals}}
                                {{#ifEquals this.type "file"}}
                                <label>Value :</label>
                                <div class="single ">
                                    <input type="file" name="file" class="form-control"
                                        placeholder="Select Your {{this.question}}" />
                                </div>
                                {{/ifEquals}}
                            </div>
                            {{/each}}
                            <div class="form-group form-button">
                                <input type="button" class="btn btn-primary mr-2 mb-2 add-profiling" value="Add (+)" />
                            </div>
                            
                            <div>
                            <h4>Question</h4>
                            <button type="button" class="btn btn-primary pull-right" id="select_all"> <span
                                        class="fa fa-check-square-o"></span> Select All</button>
                                <button type="button" class="btn btn-danger pull-right" id="delete_selected"> <span
                                        class="fa fa-trash"></span> Delete Selected</button><br>
                                <hr>
                            </div>
                            <div class="container">
                                <input class="hidden" name="num_of_quest" id="num_of_quest" value="{{countArray quest.questions}}">
                                <div class="row justify-content-md-center" id="questions_list">
                                        {{#each quest.questions}}
                                    <div class="col col-lg-12 question_content" id="questions_box">
                                        <div class="row">
                                            <div class="col col-lg-9 border">
                                                <div class="row ">
                                                    <div class="col col-sm-2">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="checkbox" name="select-question"
                                                                    class="form-check-input select-question custom-checkbox"
                                                                    value="">
                                                                <input class="form-control toggle-disabled disabled-input" name="number" type="text" id="number" value="{{this.number}}">
                                                                <input class="hidden" name="display_logic" id="display_logic_{{this.sequence}}" value="{{stringify this.displayLogic}}">
                                                                <input class="hidden" name="id_question" id="id_question_{{this.sequence}}" value="{{this.id}}">
                                                                <input class="hidden" name="carryForward" id="carry_forward_{{this.sequence}}" value="{{#if this.carryForwardQuestion}}{{stringify (carryForward this.carryForwardQuestion this.carryForwardType)}}{{/if}}">
                                                                <input class="hidden" name="sequence" id="sequence_{{this.sequence}}" value="{{this.sequence}}">
                                                            </label>
                                                        </div>
                                                        <div class="dropdown">
                                                            <button type="button"
                                                                class="btn btn-default dropdown-toggle"
                                                                data-toggle="dropdown">
                                                                <span class="fa fa-cog">
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item add-display-logic"
                                                                    href="javascript:void(0)" data-toggle="modal"
                                                                    data-target="#displayLogicModal" data-id="display_logic_{{this.sequence}}" data-questionid="id_question_{{this.sequence}}">Add
                                                                    Display Logic</a>
                                                                <a class="dropdown-item carryforward {{#notEquals this.type "select"}}hidden{{/notEquals}}" href="javascript:void(0)" data-sequence="{{this.sequence}}">Carry
                                                                    Forward Choices</a>
                                                                <a class="dropdown-item copy-question" data-sequence="1" href="javascript:void(0)">Copy
                                                                    Question</a>
                                                                {{!-- <a class="dropdown-item add-page-break"
                                                                    href="javascript:void(0)">Add Page Break</a>
                                                                <a class="dropdown-item remove-page-break hidden"
                                                                    href="javascript:void(0)">Remove Page Break</a> --}}
                                                                {{!-- <a class="dropdown-item" href="javascript:void(0)">Move
                                                                    Question</a> --}}
                                                                <a class="dropdown-item delete-question"
                                                                    href="javascript:void(0)">Delete Question</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <textarea name="question" data-sequence="{{this.sequence}}" id="question_{{this.sequence}}" type="text"
                                                            class="form-control summernote toggle-disabled disabled-input"
                                                            autocomplete="off">{{{this.question}}}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-lg-3 border">
                                                <div class="">
                                                    <div class="form-group">
                                                        <label>Type</label>
                                                        <select id="question_type_{{this.sequence}}" name="type"
                                                            class="form-control capitalize survyeProfilingType">
                                                            <option value="">Select Option</option>
                                                            <option class="capitalize" value="text" selected>text</option>
                                                            <option class="capitalize" value="number">number</option>
                                                            <option class="capitalize" value="select">select</option>
                                                            <option class="capitalize" value="date">date</option>
                                                            <option class="capitalize" value="multiple">multiple
                                                            </option>
                                                            <option class="capitalize" value="radio">radio</option>
                                                            <option class="capitalize" value="textarea">textarea
                                                            </option>
                                                            <option class="capitalize" value="file">file</option>
                                                            <option class="capitalize" value="email">email</option>
                                                            <option class="capitalize" value="checkbox">checkbox
                                                            </option>
                                                        </select>
                                                        <script>
                                                            $(document).ready(function(){
                                                                $("#question_type_{{this.sequence}}").val("{{this.type}}")
                                                            })
                                                        </script>
                                                    </div>
                                                    <div class="form-group" id="data_multiply">
                                                        <label>Data</label>
                                                        <input name="data" type="text" id="qestion_data_{{this.sequence}}"
                                                            class="form-control selectize-custom" autocomplete="off" value="{{unselectize this.data}}">
                                                    </div>
                                                    {{#ifArrayNotEmpty this.data}}
                                                    <script>
                                                        $(document).ready(function(){
                                                            $("#data_multiply").show()
                                                        })
                                                    </script>
                                                    {{else}}
                                                    <script>
                                                        $(document).ready(function(){
                                                            $("#data_multiply").hide()
                                                        })
                                                    </script>
                                                    {{/ifArrayNotEmpty}}
                                                    <input name="pageBreak" id="pageBreak" class="hidden" value="false">
                                                    <div class="form-group hidden" id="custom-group">
                                                        <label>Custom Input</label>
                                                        <select name="custom" id="custom_{{this.sequence}}"
                                                            class="form-control capitalize" required>
                                                            <option class="capitalize" value="true">True</option>
                                                            <option class="capitalize" value="false" selected>False
                                                            </option>
                                                        </select>
                                                        <script>
                                                            $(document).ready(function(){
                                                                $("#custom_{{this.sequence}}").val("{{this.custom}}")
                                                            })
                                                        </script>
                                                    </div>
                                                    {{#ifArrayNotEmpty this.data}}
                                                    <script>
                                                        $(document).ready(function(){
                                                            $("#custom-group").show()
                                                        })
                                                    </script>
                                                    {{else}}
                                                    <script>
                                                        $(document).ready(function(){
                                                            $("#custom-group").hide()
                                                        })
                                                    </script>
                                                    {{/ifArrayNotEmpty}}
                                                    <div class="form-group">
                                                        <label>Required</label>
                                                        <select name="required" id="required_{{this.sequence}}"
                                                            class="form-control capitalize">
                                                            <option value="">Select Option</option>
                                                            <option class="capitalize" value="true" selected>True</option>
                                                            <option class="capitalize" value="false">False</option>
                                                        </select>
                                                    </div>
                                                        <script>
                                                            $(document).ready(function(){
                                                                $("#custom_{{this.sequence}}").val("{{this.required}}")
                                                            })
                                                        </script>
                                                </div>
                                            </div>
                                            <div class="col col-lg-12 centered-content hidden" id="page-break-caption">
                                                <label class="page-break-label">PAGE BREAK</label>
                                                <hr class="hr-dashed">
                                            </div>
                                        </div>
                                    </div>
                                        {{/each}}
                                </div>
                                <div class="row">
                                    <div class="col col-lg-2 centered-content" style="padding:8px">
                                        <button type="button" class="btn btn-primary mr-2 mb-2 add-new-question"><span
                                                class="fa fa-plus"></span> Create a New Question</button>
                                    </div>
                                </div>
                            </div><hr>
                            <div class="form-group">
                                <label>Save Option</label>
                                <select name="save" id="save" class="form-control capitalize" required>
                                    <option value="">Select Option</option>
                                    <option class="capitalize" value="published" selected>Publish</option>
                                    <option class="capitalize" value="drafted">Save as Draft</option>
                                </select>
                            </div>
                            <div class="form-group form-button">
                                <br>
                                <input type="submit" class="btn btn-primary mr-2 mb-2" value="Save Changes" />
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer py-5 border-top text-center">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <p class="mb-0">
                    {{#if setting_data.facebook}}<a href="{{setting_data.facebook}}" class="p-3"><span
                            class="icon-facebook"></span></a>{{/if}}
                    {{#if setting_data.twitter}}<a href="{{setting_data.twitter}}" class="p-3"><span
                            class="icon-twitter"></span></a>{{/if}}
                    {{#if setting_data.instagram}}<a href="{{setting_data.instagram}}" class="p-3"><span
                            class="icon-instagram"></span></a>{{/if}}
                    {{#if setting_data.youtube}}<a href="{{setting_data.youtube}}" class="p-3"><span
                            class="icon-youtube"></span></a>{{/if}}
                    {{#if setting_data.linkedin}}<a href="{{setting_data.linkedin}}" class="p-3"><span
                            class="icon-linkedin"></span></a>{{/if}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="mb-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>
                        document.write(new Date().getFullYear());
                    </script> {{appName}} All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="displayLogicModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <form id="display-logic-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Display Logic</h4>
            </div>
            <div class="modal-body">
                    <input class="hidden" id="display_logic_target">
                    <input class="hidden" id="id_question_target">
                <div id="logic-bucket">
                    <div class="row logic_content" id="logic-box">
                        <div class="col-md-2 hidden or-and-group" >
                        <div class="form-group">
                            <select class="form-control or-and" name="or-and">
                                    <option value="and" selected>And</option>
                                <option value="or">Or</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control display-logic-type" name="display-logic-type">
                                    <option value="question" >Question</option>
                                    <option value="device" >Device</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group hidden is-not-select">
                                <select class="form-control" name="is-not">
                                    <option value="is">Is</option>
                                    <option value="is_not">Is Not</option>
                                </select>
                            </div>
                            <div class="form-group question-select">
                                <select class="form-control question-logic" name="question-logic" id="question-logic">
                                    <option value="">Select Question</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 question-answer-select">
                            <div class="form-group hidden question-multiple">
                                <select class="form-control question-answer" name="question-answer">
                                    <option value="">Select Answer</option>
                                </select>
                            </div>
                            <div class="form-group hidden question-equal-select">
                                <select class="form-control question-equal" name="question-equal">
								<option value="">Select Option</option>
                                    <option value="is_equal_to">Is Equal To</option>
                                    <option value="is_not_equal_to">Is Not Equal To</option>
                                    <option value="is_greater_than">Is Greater Than</option>
                                    <option value="is_greater_than_or_equal_to">Is Greater Than or Equal To</option>
                                    <option value="is_less_than">Is Less Than</option>
                                    <option value="is_les_than_or_equal_to">Is Less Than or Equal To</option>
                                    <option value="is_empty">Is Empty</option>
                                    <option value="is_not_empty">Is Not Empty</option>
                                    <option value="is_contains">Is Contains</option>
                                    <option value="is_not_contains">Is Not Contains</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group hidden equal-to-group">
                                <input class="form-control equal-to" name="equal-to">
                            </div>
                            <div class="form-group hidden device-list-select">
                                <select class="form-control" name="device-type">
								<option value="">Select Option</option>
                                    <option value="desktop">Desktop</option>
                                    <option value="phone">Phone</option>
                                    <option value="tablet">Tablet</option>
                                    <option value="tv">TV</option>
                                    <option value="car">Car</option>
                                </select>
                            </div>
                            <div class="form-group hidden question-respond-select">
                                <select class="form-control question-respond" name="question-respond">
								<option value="">Select Option</option>
                                    <option value="is_selected" selected>Is Selected</option>
                                    <option value="is_not_selected">Is Not Selected</option>
                                    <option value="is_displayed">Is Displayed</option>
                                    <option value="is_not_displayed">Is Not Displayed</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-md-1 hidden" id="remove-logic-box">
                        <button type="button" class=" btn btn-danger remove-logic"><span class=" fa fa-minus"></span></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-3 centered-content">
                        <button type="button" class="btn btn-danger remove-all-logic"><span class="fa fa-trash"></span> Remove all logic</button>
                    </div>
                    <div class="col-md-2 offset-md-1 centered-content">
                        <button type="button" class="btn btn-success add-logic"><span class="fa fa-plus"></span> Add more Logic</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success save-display-logic">Save</button>
            </div>
            </form>
        </div>

    </div>
</div>

<div id="carryForwardModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form method="post" id="carryforwardform">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Carry Forward</h4>
                </div>
                <div class="modal-body">
                    <input class="hidden" id="sequence_target">
                    <div class="form-group">
                        <label>Choiches</label>
                        <select class="form-control" name="choiches" id="choiches">
                            <option value="all" selected>All Choiches - Displayed & Hidden</option>
                            <option value="displayed">Displayed Choiches</option>
                            <option value="not_displayed">Not Displayed Choiches</option>
                            <option value="selected">Selected Choiches</option>
                            <option value="unselected">Unslected Choiches</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <select class="form-control" name="from_questions" id="from_questions">
                            <option value="" selected>Select Option</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success save_carryforward" data-dismiss="modal">Save</button>
                </div>
            </form>
        </div>

    </div>
</div>
</div> <!-- .site-wrap -->