    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>FAQ</h1> 
              <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
              </div>  
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">FAQ</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Question</th>
                    <th>Answer</th>                    
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each faq_list}}
                    <tr>
                      <td>{{this.question}}</td>
                      <td>{{this.answer}}</td>                      
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>  
                          <button type="button" class="btn btn-outline-secondary mb-1 edit_faq" data-url="{{../admin_data.role}}/faq/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                            <div class="glyph-icon simple-icon-pencil"></div>
                          </button>                        
                          <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../admin_data.role}}/faq_delete/{{this._id}}" data-target="#delete_modal">
                            <div class="glyph-icon simple-icon-trash"></div>
                          </button>          
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create FAQ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Question</label>
                <input name="question" type="text" class="form-control" autocomplete="off" required>
              </div> 
              <div class="form-group">
                <label>Answer</label>
                <input name="answer" type="text" class="form-control" autocomplete="off" required>
              </div> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{admin_data.role}}/update_faq" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit FAQ</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">
              <div class="form-group">
                <label>Question</label>
                <input name="question" id="question_edit" type="text" class="form-control" autocomplete="off" required>
              </div> 
              <div class="form-group">
                <label>Answer</label>
                <input name="answer" id="answer_edit" type="text" class="form-control" autocomplete="off" required>
              </div> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    