<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Create Quest</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4 mb-lg-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="mb-0">
                            Find {{#ifEquals quest_left 0}}{{setting_data.freeQuest}}{{else}}{{quest_left}}{{/ifEquals}} Quest 
                        </h3>
                        <h5>To get free Quest</h5>
                    </div>
                    <div class="card-body">
                        {{#each quest}}
                        <div class="card ">
                            <div class="card-header">
                                <a href="/answer_quest/{{this._id}}"><h5>{{this.title}}</h5></a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>