<title>{{title_page}}</title>
<div id="canvas"></div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.qrcode.js"></script>
<script type="text/javascript" src="/js/qrcode.js"></script>
<script>
    jQuery('#canvas').qrcode({
		text	: "{{pointURL}}"
	});	
</script> 