    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Head Office</h1>
            <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
            </div>  
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">Head Office</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Brands</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each head_office_list}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>
                        {{#notEquals this.brands.length 0}}
                          {{#each this.brands}}
                            <span class="badge badge-pill badge-secondary">{{this.name}}</span>
                          {{/each}}
                        {{else}}
                          -
                        {{/notEquals}}
                      </td>
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        <button type="button" class="btn btn-outline-secondary mb-1 edit_head_office" data-url="{{../user_data.role}}/head_office/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                          <div class="glyph-icon simple-icon-pencil"></div>
                        </button>                        
                        <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../user_data.role}}/delete_head_office/{{this._id}}" data-target="#delete_modal">
                          <div class="glyph-icon simple-icon-trash"></div>
                        </button>                   
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post"> <!--enctype="multipart/form-data">-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Head Office</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control"  autocomplete="off" required>
              </div>                                              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{user_data.role}}/update_head_office" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Head Office</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">
              <div class="form-group">
                <label>Name</label>
                <input name="name" id="name_edit" type="text" class="form-control"  autocomplete="off" required>
              </div>                     
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    