<div class="site-blocks-cover">
  <div class="container pt-10vh">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" style="position: relative;" data-aos="fade-up">

        <img src="{{setting_data.headerImage}}" alt="Image" class="img-fluid img-absolute">

        <div class="row mb-4">
          <div class="col-lg-4 mr-auto">
            <h1>{{setting_data.headerTitle}}</h1>
            <p class="mb-5">{{setting_data.headerCaption}}</p>
            {{#if user_data}}
            <div>
              <a href="/create_quest" class="btn btn-primary mr-2 mb-2">Create Quest</a>
            </div>
            {{else}}
            <div>
              <a href="/signin" class="btn btn-primary mr-2 mb-2">Create Quest</a>
            </div>
            {{/if}}
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
{{#if quests}}
<div class="site-section bg-light" id="features-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Find Some Questions</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      {{#each quests}}
      <a href="/quest/{{this.code}}">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up">
            
            <div class="unit-4 d-block">
              <div class="unit-4-icon mb-3">
                <span class="icon-wrap"><span class="text-primary fa fa-question-circle"></span></span>
              </div>
              <div>
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
                <p><a href="/quest/{{this.code}}">See More</a></p>
              </div>
            </div>

          </div>
      </a>
      {{/each}}
      <div class="col-md-12">
            <div class="col-md-4 offset-md-4 col-lg-4 mb-4 mb-lg-12" data-aos="fade-up">
              <a href="/quests" class="btn btn-primary btn-block">Find More</a>
            </div>
        </div>
    </div>
  </div>
</div>
{{/if}}

{{#if feature}}
<div class="site-section bg-light" id="features-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Features</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      {{#each feature}}
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div class="unit-4-icon mb-3">
            <span class="icon-wrap"><img src="{{this.imageUrlLogo}}" class="logo-feature"></span>
          </div>
          <div>
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/if}}

{{#if faq}}
<div class="site-section" id="faq-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">FAQ</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="accordion col-md-12" id="accordionExample">
        {{#each faq}}
        <div class="card ">
          <div class="card-header">
            <h2 class="mb-0">

                {{this.question}}
            </h2>
          </div>
          <div id="{{this._id}}" class="collapse show" data-parent="#accordionExample">
            <div class="card-body">
              {{this.answer}}
            </div>
          </div>
        </div>
        <br>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#if setting_data}}
<div class="site-section bg-light" id="about-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">About Us</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6">
        <img src="{{setting_data.aboutUsImage}}" alt="Image" class="img-fluid mb-5 mb-lg-0 rounded shadow">
      </div>
      <div class="col-lg-5 ml-auto pl-lg-5">
        <h2 class="text-black mb-4">{{setting_data.aboutUsTitle}}</h2>
        <p class="mb-4">{{setting_data.aboutUsCaption}}</p>
      </div>
    </div>

  </div>
</div>
{{/if}}

{{#if testimonial}}
<div class="site-section testimonial-wrap" id="testimonials-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="section-title mb-3">Testimonials</h2>
      </div>
    </div>
  </div>
  <div class="slide-one-item home-slider owl-carousel">
    {{#each testimonial}}
    <div>
      <div class="testimonial">
        <figure class="mb-4 d-block align-items-center justify-content-center">
          <div><img src="{{this.image}}" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
        </figure>
        <blockquote class="mb-3">
          <p>&ldquo;{{this.caption}}&rdquo;</p>
          <p class="centered-content">
            {{#times this.stars}}
            <i class="fa fa-star star"></i>
            {{/times}}
          </p>
        </blockquote>
        <p class="text-black"><strong>{{this.name}}</strong></p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}

{{#if news}}
<div class="site-section" id="news-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">News</h2>
          </div>
        </div>

        <div class="row">
          {{#each news}}
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    <a href="/news/{{this._id}}"><img src="{{this.image}}" alt="Image" class="img-fluid">
                    </a>
                    <h2><a href="/news/{{this._id}}">{{this.title}}</a></h2>
                    <div class="meta mb-4"> {{dateFormat this.createdDate "MMMM DD, YYYY" utc}}<span
                            class="mx-2">•</span> <a href="/news">News</a></div>
                    <p><a href="/news/{{this._id}}">Continue Reading...</a></p>
                </div>
            </div>
          {{/each}}    
          <div class="col-md-12 centered-image" style="text-align: center">
        <a href="/news">SHOW MORE</a>
    </div>      
        </div>
      </div>
    </div>
{{/if}}

<div class="site-section bg-light" id="contactus-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Get In Touch</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">

            

            <form action="/send_message" class="p-5 bg-white" id="sendmessage-form" refresh="/">
              
              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-12 mb-12 mb-md-0">
                  <label class="text-black" for="fname">Full Name</label>
                  <input type="text" id="fname" name="name" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" name="email" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" name="subject" class="form-control rounded-0">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary mr-2 mb-2 submit-btn-sweetalert" form-id="sendmessage-form" warning-id="warning_message">
                </div>
              </div>

  
            </form>
          </div>
        
        </div>
        
      </div>
    </div>
<!-- Modal -->
<div id="reviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <form method="post" action="\writeRating">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Give Us A Feedback</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label>Your Rating : </label>
                        <select class="star-picker" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group"></div>
                    <label>Comment</label>
                    <input name="caption" type="text" class="form-control" autocomplete="off" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            </form>
        </div>

    </div>
</div>