    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Message</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">Message</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>               
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each message}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>{{this.email}}</td>
                      <td>{{this.subject}}</td>
                      <td style="text-align: center">
                          {{this.message}}
                      </td>
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../admin_data.role}}/delete_Message/{{this._id}}" data-target="#delete_modal">
                          <div class="glyph-icon simple-icon-trash"></div>
                        </button>                   
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    