<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 offset-md-12 col-lg-12 mb-4 mb-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>My Order</h4>
                    </div>
                    <div class="card-body">
                        <!-- Tab panes -->
                        <div class="table-responsive">
                            <table class="table datatable table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Quest</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each order}}
                                    <tr>
                                        <td>{{this.orderId}}</td>
                                        <td>{{#if this.questRef}}<a href="{{codeURL this.questRef.code}}">{{codeURL this.questRef.code}}</a>{{else}}-{{/if}}</td>
                                        <td class="capitalize">{{this.status}}</td>
                                        <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                                        <td>
                                            {{#ifEquals this.status "paid"}}
                                            {{#ifEquals this.used true}}
                                            -
                                            {{else}}
                                            <a class="btn btn-outline-secondary mb-1 btn-primary"
                                                href="/create_quest/paid/{{this.orderId}}" data-toggle="tooltip" data-placement="top" title="Create Quest">
                                                <span class="fa fa-pencil" ></span>
                                            </a>
                                            {{/ifEquals}}
                                            {{/ifEquals}}
                                            {{#ifEquals this.status "unpaid"}}
                                            <button type="button" class="btn  mb-1 delete_btn btn-danger"
                                                data-toggle="modal" data-url="/delete_order/{{this._id}}"
                                                data-target="#delete_modal" >
                                                <span class="fa fa-trash"></span>
                                            </button>
                                            <a class="btn btn-outline-secondary mb-1 btn-primary"
                                                href="{{this.redirectURL}}">
                                                Complete Payment
                                            </a>
                                            {{/ifEquals}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete this data?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn" id="delete_footer" href="#">Yes</a>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>