    <div class="site-blocks-cover">
      <div class="container">
        <div class="row  justify-content-center pt-12vh">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="{{#if user_data.imageProfile}}{{user_data.imageProfile}}{{else}}/img/user.png{{/if}}" class="avatar rounded-circle change_picture" data-target="#changeProfilePictureModal" data-toggle="modal" alt="avatar">
        <br><br>
        <h5>{{user_data.name}}</h5>
      </div></hr><br>
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Quests Created</strong></span> {{total_created_quest}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Quests Answered</strong></span> {{total_answered_quest}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Order</strong></span> {{total_order}}</li>
          </ul> 
            
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
              
                              <br>
                            <form class="form" action="" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Full name</h4></label>
                              <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" title="Enter your full name" value="{{user_data.name}}">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Email</h4></label>
                              <input type="email" class="form-control"  placeholder="Email" value="{{user_data.email}}" readonly>
                          </div>
                      </div>
                      {{#each survey_profiling}}
                                <div class="form-group">
                                  <div class="col-xs-6">
                                  <label for="last_name"><h4>{{this.question}}</h4></label>
                                    {{#ifEquals this.type "text"}}
                                    <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}" value="{{findProfiling this._id ../user_data.profiling}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "email"}}
                                    <input type="email" name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}" value="{{findProfiling this._id ../user_data.profiling}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "number"}}
                                    <input type="number" name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}"  value="{{findProfiling this._id ../user_data.profiling}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "date"}}
                                    <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control datepicker" placeholder="Type Your {{this.question}}"  value="{{findProfiling this._id ../user_data.profiling}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "textarea"}}
                                    <textarea name="{{this._id}}" id="{{this._id}}" class="form-control" placeholder="Type Your {{this.question}}" value="{{findProfiling this._id ../user_data.profiling}}" {{#ifEquals this.required true}} required{{/ifEquals}}>{{findProfiling this._id ../user_data.profiling}}</textarea>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "select"}}
                                    <select name="{{this._id}}" id="{{this._id}}" class="form-control" {{#ifEquals this.required true}} required{{/ifEquals}}>
                                        <option value="">Select {{this.question}}</option>
                                        {{#each this.data}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                    <script>
                                      $("#{{this._id}}").val("{{findProfiling this._id ../user_data.profiling}}")
                                    </script>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "checkbox"}}
                                    <div class="form-group">
                                        <label for="{{this._id}}" class="checkbox">{{this.question}}</label>
                                        <input id="{{this._id}}" type="checkbox" value="true" {{#ifEquals this.required true}} required{{/ifEquals}}>
                                    </div>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "multiple"}}
                                    <select  name="{{this._id}}" id="{{this._id}}" class="form-control selectize" placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}} multiple/>
                                      <option value="">Select {{this.question}}</option>
                                      {{#each this.data}}
                                      <option value="{{this}}" style="text-transform: capitalize" {{findProfilingSpecial ../this._id this ../../user_data.profiling "selected"}}>{{this}}</option>
                                      {{/each}}
                                    </select>
                                    {{/ifEquals}}
                                    {{#ifEquals this.type "file"}}
                                    <input type="file" name="file" id="{{this._id}}" class="form-control" placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}} required{{/ifEquals}}/>
                                    {{/ifEquals}}
                                </div>
                                </div>
                            {{/each}}
                       <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                
                              	<button class="btn btn-lg btn-danger" type="button"  data-toggle="modal" data-target="#changePasswordModal"><i class="glyphicon glyphicon-lock"></i> Change Password</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
    </div>

    <!-- The Modal -->
<div class="modal" id="changePasswordModal">
  <div class="modal-dialog">
    <div class="modal-content">

    <form method="post" action="/change_password" id="change_password_form" refresh="">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            <div class="alert alert-primary hidden" role="alert" id="warning_message"> </div>
            <div class="form-group">
                <label>Old Password</label>
                <input class="form-control" type="password" name="old_password" id="old_password" placeholder="Type your old password">
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input class="form-control" type="password" name="new_password" id="new_password" placeholder="Type your new password">
            </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button class="btn btn-lg btn-success submit-btn" type="submit" form-id="change_password_form" warning-id="warning_message"><i class="glyphicon glyphicon-ok-sign " ></i> Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal" id="changeProfilePictureModal">
  <div class="modal-dialog">
    <div class="modal-content">

    <form method="post" action="/change_pp" enctype="multipart/form-data">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Profile Picture</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            <div class="form-group centered-content">
                <label>Select File</label>
                <input class="form-control" type="file" name="image" accept="image/*" onchange="loadFile(event)" required>
                <br>
                <img src="{{#if user_data.imageProfile}}{{user_data.imageProfile}}{{else}}/img/user.png{{/if}}" class="avatar rounded-circle" id="img_preview">
            </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button class="btn btn-lg btn-success" type="submit" ><i class="glyphicon glyphicon-ok-sign " ></i> Save</button>
      </div>
    </form>
    </div>
  </div>
</div>
<script>
     var loadFile = function(event) {
    var output = document.getElementById('img_preview');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>




</div> <!-- .site-wrap -->
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/sweetalert.min.js"></script>
{{!-- <script src="/vendor/datatables/js/dataTables.bootstrap.js"></script> --}}
<script src="/js/vendor/datatables.min.js"></script>
<script src="/vendor/summernote/summernote.js"></script>
<script src="/js/submit.js"></script>
<script src="/jquery-rating-bars/jquery.combostars.js"></script>
<script src="/vendor/selectize/selectize.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function () {
    {{#if rating}}
    $("#reviewModal").modal('toggle')
    {{/if}}
        {{#if info}}
        swal({
          title: "{{ info_title }}",
          text: "{{ info }}",
          icon: "{{ info_type }}",
        }); 
        {{/if}}
          });
</script>

{{{setting_data.googleAnalytic}}}
</body>