<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 offset-md-12 col-lg-12 mb-4 mb-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>My Quest</h4>
                    </div>
                    <div class="card-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#created">Created Quest</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#answered">Answered Quest</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#draft">Draft</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="created">
                                <div class="table-responsive">
                                    <table class="table datatable table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Questions</th>
                                                <th>Respondents</th>
                                                <th>Target</th>
                                                <th>URL</th>
                                                <th>Created date</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each quest}}
                                            {{#ifEquals this.status "published"}}
                                            <tr>
                                                <td>{{this.title}}</td>
                                                <td>{{this.description}}</td>
                                                <td>{{countArray this.questions}}</td>
                                                <td>{{#if this.totalRespondent}}{{this.totalRespondent}}{{else}}0{{/if}}</td>
                                                <td>{{#if this.targetRespondent}}{{this.targetRespondent}}{{else}}0{{/if}}</td>
                                                <td><a href="{{codeURL this.code}}">{{codeURL this.code}}</a></td>
                                                <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                                                <td style="width:100%">
                                                    <a class="btn btn-small mb-1 btn-primary"
                                                        href="/view_quest/{{this._id}}" data-toggle="tooltip" data-placement="top" title="View">
                                                        <span class="fa fa-small fa-eye"></span>
                                                    </a>
                                                    <a class="btn btn-small mb-1 btn-info"
                                                        href="/edit_quest/{{this._id}}" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <span class="fa fa-small fa-edit"></span>
                                                    </a>
                                                    {{!-- <a class="btn btn-small mb-1 btn-warning"
                                                        href="/view_answer/{{this._id}}/1" data-toggle="tooltip" data-placement="top" title="View Answer">
                                                        <span class="fa fa-small fa-check-circle-o"></span>
                                                    </a> --}}
                                                    <a class="btn btn-small mb-1 btn-success"
                                                        href="/download_answer/{{this._id}}" data-toggle="tooltip" data-placement="top" title="Download All Answers">
                                                        <span class="fa fa-small fa-download"></span>
                                                    </a>
                                                    <button type="button" class="btn btn-small mb-1 delete_btn btn-danger"
                                                        data-toggle="modal" data-url="/delete_quest/{{this._id}}"
                                                        data-target="#delete_modal" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <span class="fa fa-small fa-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                            {{/ifEquals}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="answered">
                                <div class="table-responsive">
                                    <table class="table datatable table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Created date</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each user_quest}}
                                            {{#if this.questRef}}
                                            <tr>
                                                <td>{{this.questRef.title}}</td>
                                                <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                                                <td >
                                                    <a class="btn btn-small mb-1 btn-warning"
                                                        href="/view_my_answer/{{this._id}}" data-toggle="tooltip" data-placement="top" title="View My Answer">
                                                        <div class="fa fa-small fa-check-circle-o"></div>
                                                    </a>
                                                </td>
                                            </tr>
                                            {{/if}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="draft">
                                <div class="table-responsive">
                                    <table class="table datatable table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Questions</th>
                                                <th>Target</th>
                                                <th>Created date</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each quest}}
                                            {{#ifEquals this.status "drafted"}}
                                            <tr>
                                                <td>{{this.title}}</td>
                                                <td>{{countArray this.questions}}</td>
                                                <td>{{#if targetRespondent}}{{targetRespondent}}{{else}}0{{/if}}</td>
                                                <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                                                <td>
                                                    <a class="btn btn-small mb-1 btn-primary"
                                                        href="/publish_quest/{{this._id}}" data-toggle="tooltip" data-placement="top" title="Publish">
                                                        <div class="fa fa-small fa-file"> Publish</div>
                                                    </a>
                                                    <a class="btn  mb-1 btn-info"
                                                        href="/edit_quest/{{this._id}}" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <div class="fa fa-small fa-edit"></div>
                                                    </a>
                                                    <button type="button" class="btn btn-danger btn-small mb-1 delete_btn"
                                                        data-toggle="modal" data-url="/delete_quest/{{this._id}}"
                                                        data-target="#delete_modal" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <div class="fa fa-small fa-trash"></div>
                                                    </button>
                                                </td>
                                            </tr>
                                            {{/ifEquals}}
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete this data?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger btn " id="delete_footer" href="#">Yes</a>
                    <button type="button" class="btn " data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>