<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">News</h2>
            </div>
        </div>

        <div class="row">
            {{#each news}}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    <a href="/news/{{this._id}}"><img src="{{this.image}}" alt="Image" class="img-fluid">
                    </a>
                    <h2><a href="/news/{{this._id}}">{{this.title}}</a></h2>
                    <div class="meta mb-4"> {{dateFormat this.createdDate "MMMM DD, YYYY" utc}}9<span
                            class="mx-2">•</span> <a href="/news">News</a></div>
                    <p><a href="/news/{{this._id}}">Continue Reading...</a></p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>