    <main>
      <div class="container-fluid">
        <form action="" method="post" id="create_order_form">
          <div class="row">
            <div class="col-12">
              <h1>Create Order</h1>
              <div class="float-sm-right text-zero">
                <button type="submit" class="btn btn-primary btn-lg mr-1">SUBMIT</button>
              </div>  
              <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                  <li class="breadcrumb-item">
                    Features
                  </li>
                  <li class="breadcrumb-item">
                    <a href="{{user_data.role}}/order">Order</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Create Order</li>
                </ol>
              </nav>
              <div class="separator mb-5"></div>
            </div>
          </div>
          <div class="col-12 mb-4">
            <div class="card mb-2">
              <div class="card-body" style="padding-bottom:10px;">
                <div class="form-group row">
                  <label for="discount" class="col-sm-1 col-form-label">Discount</label>
                  <div class="col-sm-11">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rp</span>
                      </div>
                      <input type="number" min="0" class="form-control" id="discount" name="discount" >
                    </div>                  
                  </div>
                </div>
                <div class="form-group row">
                  <label for="service" class="col-sm-1 col-form-label">Service</label>
                  <div class="col-sm-11">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rp</span>
                      </div>
                      <input type="number" min="0" class="form-control" id="service" name="service" >
                    </div>                   
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tax" class="col-sm-1 col-form-label">Tax</label>
                  <div class="col-sm-11">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rp</span>
                      </div>
                      <input type="number" min="0" class="form-control" id="tax" name="tax" >
                    </div>                   
                  </div>
                </div>                           
              </div>
            </div>
            <div class="card">
              <input type="text" class="form-control hidden" id="products" name="products" >
              <div class="card-body">
                <table class="data-table data-table-custom-without-search" id="create_order_table">
                  <thead>
                    <tr>
                      <th class="hidden">PP</th>
                      <th>Name</th>
                      <th>Quantity</th>
                      <th>Notes</th>
                      <th>Item Price</th>
                      <th>Total</th>
                      <th>Option</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>

    <div class="modal fade modal-right pre-add-product-modal" id="create_modal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="post" id="pre_add_product_form">
              <div class="form-group">
                <label>Product</label>
                <select name="product" id="product" class="form-control">
                  <option value="">Select Product</option>
                  {{#each product_list}}
                  <option value="{{this._id}}" data-price="{{this.price}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group">
                <label>Quantity</label>
                <input name="quantity" id="quantity" type="number" min="0" class="form-control" autocomplete="off">
              </div>
              <div class="form-group">
                <label>Notes</label>
                <input name="notes" id="notes" type="text" class="form-control" autocomplete="off">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary add-product-to-list">Add</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to delete this data?
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-primary" id="delete_footer" href="#">Yes</a>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>