<style>
  @page {
    size: auto;
    /* auto is the initial value */
    margin: 1mm;
    /* this affects the margin in the printer settings */
  }

  html {
    font-family: 'Lucida Console';
    font-size: 10%;
    background-color: #FFFFFF;
    margin: 1px;
    /* this affects the margin on the html before sending to printer */
  }

  .sidebar-dark .content-wrapper {
    background: #fff !important;
  }

  .page-print {
    display: block;
    max-width: 100%;
  }

  table tr td {
    font-size: 9px;
  }

  .title-st {
    font-family: sans-serif;
    float: left;
    text-align: left;
    width: 50% !important;
    clear: both;
    font-weight: 100;
    font-size: 12px;
  }

  .title-st2 {
    font-family: inherit;
    float: left;
    text-align: right;
    width: 50% !important;
    clear: both;
    font-weight: 100;
    font-size: 12px;
  }

  .right-st {
    font-family: inherit;
    float: right;
    text-align: right;
    width: 50% !important;
    font-weight: 100;
    font-size: 12px;
  }

  .right-st2 {
    font-family: inherit;
    float: right;
    text-align: left;
    width: 50% !important;
    font-weight: 100;
    font-size: 12px;
  }

  .head {
    text-align: left;
    border-bottom: 1px dashed #333;
    padding-bottom: 5px;
    overflow: hidden;
  }

  .head span {
    font-family: 'Lucida Console';
    font-size: 11px;
  }

  .footer strong {
    font-family: 'Lucida Console';
    font-size: 11px;
  }

  .footer {
    border-top: 1px dashed #333;
    padding-top: 5px;
    text-align: center;
  }

  .footer span {
    font-family: 'Lucida Console';
    font-size: 11px;
  }

  .col1 {
    width: 30%;
  }

  .col2 {
    display: none;
  }

  .col3 {
    width: 10%;
    display: none;
  }

  .col4 {
    width: 20%;
    text-align: right;
  }

  .col5 {
    width: 20%;
    text-align: right;
  }

  .col6 {
    width: 20%;
    text-align: right;
  }

  .col1_2 {
    width: 25%;
  }

  .col2_2 {
    width: 75%;
    text-align: right;
  }

  .logo {
    filter: invert(100%);
    max-width: 150px;
    text-align: center;
    margin-bottom: 10px
  }
</style>
<html>
<div class="container-fluid">
  <div class="page-print">
    <p style="text-align:center"><img src="{{brand_logo}}" class="logo"></p><br>
    <div class="head">
      <div class="title-st">
        <span>{{this.now_date}}</span>
      </div>
      <div class="right-st">
        {{#each user}}
        <span>{{this.name}}</span>
        {{/each}}
      </div>
    </div>
    <table>
      {{#each order_products}}
      <tr>
        <td class="col1">
          {{this.name}}
        </td>
        <td class="col2">
          -
        </td>
        <td class="col3">
          -
        </td>
        <td class="col4">
          {{this.quantity}}
        </td>
        <td class="col5">
          {{formatCurrency0 this.price}}
        </td>
        <td class="col6">
          {{formatCurrency0 this.subtotal}}
        </td>
      </tr>
      {{/each}}
    </table>
    <table>
      <tr>
        <td class="col1_2">Discount</td>
        <td></td>
        <td class="col2_2">RP {{formatCurrency order.discountNominal}}</td>
      </tr>
      <tr>
        <td class="col1_2">Service</td>
        <td></td>
        <td class="col2_2">RP {{formatCurrency order.service}}</td>
      </tr>
      <tr>
        <td class="col1_2">Tax</td>
        <td></td>
        <td class="col2_2">RP {{formatCurrency order.tax}}</td>
      </tr>
      <tr>
        <td class="col1_2">Total Price</td>
        <td></td>
        <td class="col2_2">RP {{formatCurrency order.total}}</td>
      </tr>      
    </table>
    <div class="footer">
      <span>====Thank You====</span><br>
      <br><br><br>
      <img src="{{qr_code_image}}" style="width:100px">
    </div>
  </div>
</div>

</html>

<script>
  window.print()
</script>