<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Create Quest</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4 mb-lg-12">

                <section class="pricing py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="mb-0">
                                    Choose Plan
                                </h3>
                                <br>
                            </div>
                            <!-- Free Tier -->
                            <div class="col-lg-6">
                                <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                                        <h6 class="card-price text-center">Rp 0,-<span class="period">/Quest</span></h6>
                                        <hr>
                                        <ul class="fa-ul">
                                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Create Quest</li>
                                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Questions</li>
                                            <li><span class="fa-li"><i class="fa fa-check"></i></span>You Have to answer
                                                {{setting_data.freeQuest}} Quests</li>
                                        </ul>
                                        <a href="/create_quest/free" class="btn btn-block btn-primary text-uppercase">Choose this Plan</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Plus Tier -->
                            <div class="col-lg-6">
                                <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-muted text-uppercase text-center">Paid</h5>
                                        <h6 class="card-price text-center">Rp {{formatCurrency setting_data.price}},-<span class="period">/Quest</span></h6>
                                        <hr>
                                        <ul class="fa-ul">
                                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Create Quest</li>
                                            <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimited Questions</li>
                                            <li><span class="fa-li"><i class="fa fa-check"></i></span>No need to answer
                                                any Quests</li>
                                        </ul>
                                        <a href="#" class="btn btn-block btn-primary text-uppercase paid_quest" data-url="\createMidtransTrasaction">Choose this Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script src="https://app.midtrans.com/snap/snap.js" data-client-key="Mid-client-XiKTtLD7yrmd2ZNW"></script>
    
{{!-- <script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-y-sc0eIevHaYrBJZ"></script> --}}
  