    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Category</h1>
            {{#ifEquals user_data.role "admin"}}   
              <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
              </div>  
            {{/ifEquals}}
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">Category</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>                
                  <tr>
                    <th>Name</th>
                    <th>Code</th>
                    {{!-- <th>PLU ID</th> --}}
                    {{!-- <th>Printer ID</th>   --}}
                    <th>Price</th>
                    {{!-- <th>Start Date</th> --}}
                    <th>Description</th>
                    <th>Image</th>
                    {{#ifEquals user_data.role "admin"}}                 
                      <th>Brand</th>                     
                    {{/ifEquals}}
                    <th>Group</th>   
                    <th>Category</th>                    
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each product_list}}
                    <tr>                 
                      <td>{{this.name}}</td>
                      <td>{{this.productCode}}</td>
                      {{!-- <td>{{this.PLUId}}</td> --}}
                      {{!-- <td>{{this.printerId}}</td> --}}
                      <td>{{this.price}}</td>
                      {{!-- <td>{{dateFormat this.validStartDate "MM/DD/YYYY" utc}}</td> --}}
                      <td>{{this.description}}</td>
                      <td style="text-align: center">
                        <img src="{{this.imageProduct}}" style="max-width:100px">
                      </td>
                      {{#ifEquals user_data.role "admin"}}   
                        <td>{{this.brand.name}}</td>           
                      {{/ifEquals}}                       
                      <td>{{this.productgroup.name}}</td>     
                      <td>
                        {{#each this.productcategory}}
                          <h6><span class="badge badge-pill badge-primary mb-1">{{this.name}}</span></h6>  
                        {{/each}}
                      </td>                                           
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        {{#ifEquals user_data.role "admin"}}   
                          <button type="button" class="btn btn-outline-secondary mb-1 edit_product" data-url="{{../user_data.role}}/product/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                            <div class="glyph-icon simple-icon-pencil"></div>
                          </button>                        
                          <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../user_data.role}}/delete_product/{{this._id}}" data-target="#delete_modal">
                            <div class="glyph-icon simple-icon-trash"></div>
                          </button> 
                        {{else}}
                          -
                        {{/ifEquals}}                  
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" autocomplete="off" required>
              </div>   
              <div class="form-group">
                <label>Product Code</label>
                <input name="productCode" type="text" class="form-control" autocomplete="off" required>
              </div>   
              {{!-- <div class="form-group">
                <label>PLU ID</label>
                <input name="PLUId" type="text" class="form-control" autocomplete="off" required>
              </div>   
              <div class="form-group">
                <label>Printer ID</label>
                <input name="printerId" type="text" class="form-control" autocomplete="off" required>
              </div> --}}
              <div class="form-group">
                <label>Price</label>
                <input name="price" min="0" type="number" class="form-control" autocomplete="off" required>
              </div>   
              {{!-- <div class="form-group">
                <label>Valid Start Date</label>
                <input name="validStartDate" id="validStartDate" type="text" class="form-control datepicker" autocomplete="off" required>
              </div>  --}}
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control error" rows="8" name="description" id="description" required="" spellcheck="false" aria-invalid="true" required></textarea>                                 
              </div>    
              <div class="form-group">
                <label>Image</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image" name="image" onchange="previewFile('image')" required>
                    <label class="custom-file-label" for="image" id="image_label">Choose file</label>
                  </div>
                </div>
              </div>                                                                          
              {{#ifEquals user_data.role "admin"}}   
                <div class="form-group">
                  <label>Brand</label>
                  <select name="brand" id="brand" class="form-control" required>
                    <option value="" >Select Brand</option>
                    {{#each brand_list}}
                      <option value="{{this._id}}" >{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>               
              {{/ifEquals}}                
              <div class="form-group">
                <label>Group</label>
                <select name="productgroup" id="productgroup" class="form-control brand-ref" required>
                  <option value="" >Select Product Group</option>
                  {{#each product_group_list}}
                    <option value="{{this._id}}" class="{{this.brand}}" style="display:none">{{this.name}}</option>
                  {{/each}}
                </select>
              </div> 
              <div class="form-group" id="productgroup_ref_temporary" >
                <label>Category</label>
                <select name="productcategory" id="productcategory_temp" class="form-control select2-multiple" multiple="multiple">
                  <option value="">Select Product Category</option>
                </select>
              </div>                
              {{#each product_category_list}}
                <div class="form-group productgroup-ref" id="{{this._id}}" style="display:none">
                  <label>Category</label>
                  <select name="productcategory" id="productcategory" class="form-control select2-multiple" multiple="multiple" required>
                    <option value="" >Select Product Category</option>
                    {{#each this.data}}
                      <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>   
              {{/each}}                                       
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{user_data.role}}/update_product" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">
              <div class="form-group">
                <label>Name</label>
                <input name="name" id="name_edit" type="text" class="form-control" autocomplete="off" required>
              </div>   
              <div class="form-group">
                <label>Product Code</label>
                <input name="productCode" id="productCode_edit" type="text" class="form-control" autocomplete="off" required>
              </div>   
              {{!-- <div class="form-group">
                <label>PLU ID</label>
                <input name="PLUId" id="PLUId_edit" type="text" class="form-control" autocomplete="off" required>
              </div>   
              <div class="form-group">
                <label>Printer ID</label>
                <input name="printerId" id="printerId_edit" type="text" class="form-control" autocomplete="off" required>
              </div>   --}}
              <div class="form-group">
                <label>Price</label>
                <input name="price" id="price_edit" min="0" type="number" class="form-control" autocomplete="off" required>
              </div>   
              {{!-- <div class="form-group">
                <label>Valid Start Date</label>
                <input name="validStartDate" id="validStartDate_edit" type="text" class="form-control datepicker" autocomplete="off" required>
              </div> --}}
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control error" rows="8" name="description" id="description_edit" required="" spellcheck="false" aria-invalid="true" required></textarea>                                 
              </div>    
              <div class="form-group">
                <label>Image</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image_edit" name="image" onchange="previewFile('image_edit')">
                    <label class="custom-file-label" for="image_edit" id="image_label_edit">Choose file</label>
                  </div>
                </div>
              </div>   
              {{#ifEquals user_data.role "admin"}}   
                <div class="form-group">
                  <label>Brand</label>
                  <select name="brand" id="brand_edit" class="form-control" required>
                    <option value="" >Select Brand</option>
                    {{#each brand_list}}
                      <option value="{{this._id}}" >{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>               
              {{/ifEquals}}                
              <div class="form-group">
                <label>Group</label>
                <select name="productgroup" id="productgroup_edit" class="form-control brand-ref" required>
                  <option value="" >Select Product Group</option>
                  {{#each product_group_list}}
                    <option value="{{this._id}}" class="{{this.brand}}" style="display:none">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>  
              <div class="form-group" id="productgroup_ref_temporary_edit" >
                <label>Category</label>
                <select name="productcategory" id="productcategory_temp_edit" class="form-control select2-multiple" multiple="multiple">
                  <option value="" >Select Product Category</option>
                </select>
              </div>                
              {{#each product_category_list}}
                <div class="form-group productgroup-ref-edit" id="pgr-{{this._id}}" style="display:none">
                  <label>Category</label>
                  <select name="productcategory" id="productcategory_edit_{{this._id}}" class="form-control select2-multiple" multiple="multiple">
                    <option value="" >Select Product Category</option>
                    {{#each this.data}}
                      <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>   
              {{/each}}                                  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>      