    <main>
      <div class="container-fluid">
        <div class="row  ">
          <div class="col-12">

            <h1>Profile</h1>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
            </nav>
            <div class="separator mb-5"></div>
          </div>
          <div class="col-lg-4 col-xl-4 offset-md-4">
            <div class="card" style="width: 18rem;">
                <form method="post" action="" enctype="multipart/form-data">
                <img src="{{#if user.imageProfile}}{{user.imageProfile}}{{else}}/img/user.png{{/if}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">
                        <div class="form-group">
                            <label>Name :</label>
                            <input class="form-control" type="text" name="name" value="{{user.name}}" required>
                        </div>
                        <div class="form-group">
                            <label>Profile Picture :</label>
                            <input class="form-control" type="file" name="image">
                        </div>
                        <div class="form-group">
                            <label>Email :</label>
                            <input class="form-control" type="email" value="{{user.email}}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Password :</label> <br>
                            <a href="javascript: void(0)" class="btn btn-danger btn-block" data-toggle="modal" data-target="#changepassword" >Change Password</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" >Save Changes</button>
                        </div>
                    </p>
                </div>
                </form>
                </div>
          </div>
        </div>
      </div>
    </main>

    <!-- The Modal -->
<div class="modal" id="changepassword">
  <div class="modal-dialog">
    <div class="modal-content">
        <form method="post" action="/admin/change_password">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
            <label>Old Password</label>
            <input name="old_password" type="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input name="new_password" type="password" class="form-control" required>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

        </form>
    </div>
  </div>
</div>