<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Create Quest</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4 mb-lg-12">
                <div class="card ">
                    <div class="card-header">
                        <h3 class="mb-0">
                            Prologue
                        </h3>
                    </div>
                    <div class="card-body">
                    {{{setting_data.prologue}}}
                    <hr>
                    <a href="/plan" value="Send Message" class="btn btn-primary mr-2 mb-2 ">Next Step</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>