<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">Create Quest Success!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4 col-lg-4 mb-4 mb-lg-12">
                <div class="card">
                <div class="card-header centered-content"><h4>Share your quest!</h4></div>
                <div class="card-body"><input type="text" id="code" value="{{code}}" class="form-control big-input" style="" readonly><br><hr>   
<p class="mb-0 centered-content">
          <a href="https://www.facebook.com/sharer.php?u={{code}}&t={{quest.title}}" target="_blank" class="p-3"><span
              class="icon-facebook"></span></a>
        <a href="http://twitter.com/share?text={{quest.title}}&url={{code}}&hashtags=#{{appName}}" target="_blank" class="p-3"><span
        class="icon-twitter"></span></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{code}}&title={{quest.title}}&source={{appName}}" target="_blank" class="p-3"><span
        class="icon-linkedin"></span></a>
        <a href="#" class="copy-btn p-3" data-clipboard-text="{{code}}"><span
        class="icon-copy"></span></a>
        </p>
                </div>
                <div class="card-footer"><a href="/my_quest/" class="btn btn-primary btn-block">Done</a></div>
                </div>
            </div>
        </div>
    </div>
</div>