<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 offset-md-12 col-lg-12 mb-4 mb-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Quests</h4>
                    </div>
                    <div class="card-body">

                        <!-- Tab panes -->
                        <div class="tab-pane container active" id="created">
                            <div class="table-responsive">
                                <table class="table datatable table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Respondent</th>
                                            <th>Target</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each quest}}
                                        {{#ifEquals this.status "published"}}
                                        <tr>
                                            <td>
                                                <a class="" href="/quest/{{this.code}}">
                                                    {{this.title}}
                                                </a>
                                            </td>
                                            <td>{{this.totalRespondent}}</td>
                                            <td>{{this.targetRespondent}}</td>
                                            <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                                        </tr>
                                        {{/ifEquals}}
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div