<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{name_title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/vendor/datatables.responsive.bootstrap4.min.css" />
  <link rel="stylesheet" href="/css/selectize.default.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/vendor/summernote/summernote.css" />

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/landerz_style.css">

  <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<div class="loading-animation" id="wait">
  <img src="/img/loading.gif">
</div>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">{{quest.title}}</h2>
                <h5 style="text-align:center">{{quest.description}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4 mb-lg-12">
                <form method="post" action="" id="regForm" enctype="multipart/form-data">
                        {{#each quest.questions}}
                    <div class="tab" id="tab_{{this.id}}">
                        <div class="form-group">
                            <label>{{this.number}}:{{#ifEquals this.required true}} <label class="required"
                                    data-toggle="tooltip" title="Required">*</label>{{/ifEquals}}</label>
                            <p>{{{this.question}}}</p>
                            {{#ifEquals this.type "text"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <input type="text" name="{{this._id}}" id="{{this.id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "email"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <input type="email" name="{{this._id}}" id="{{this.id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "number"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <input type="number" name="{{this._id}}" id="{{this.id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "date"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <input type="text" name="{{this._id}}" id="{{this.id}}" class="form-control datepicker"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}

                            {{#ifEquals this.type "textarea"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <textarea name="{{this._id}}" id="{{this.id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}}></textarea>
                            {{/ifEquals}}
                            {{#ifEquals this.type "select"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <select name="{{this._id}}" id="{{this.id}}"
                                class="form-control {{#ifEquals this.custom true}} selectize-custom {{/ifEquals}}"
                                {{#ifEquals this.required true}} required{{/ifEquals}}>
                                <option value="">Select Option</option>
                                {{#ifEquals this.randomize true}}
                                {{#each (shuffleArray this.data)}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                                {{else}}
                                {{#each  this.data}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                                {{/ifEquals}}
                            </select>
                            {{/ifEquals}}
                            {{#ifEquals this.type "checkbox"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <div class="form-group">
                                <label for="{{this._id}}" class="checkbox">{{this.question}}</label>
                                <input id="{{this.id}}" type="checkbox" value="true" {{#ifEquals this.required true}}
                                    required{{/ifEquals}}>
                            </div>
                            {{/ifEquals}}
                            {{#ifEquals this.type "multiple"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <select name="{{this._id}}" id="{{this.id}}" class="form-control {{#ifEquals this.custom true}} selectize-custom {{else}}selectize {{/ifEquals}}"
                                placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} multiple />
                            <option value="">Select Option</option>
                            
                            {{#ifEquals this.randomize true}}
                            {{#each (shuffleArray this.data)}}
                            <option value="{{this}}" style="text-transform: capitalize">{{this}}</option>
                            {{/each}}
                            {{else}}
                            {{#each  this.data}}
                            <option value="{{this}}" style="text-transform: capitalize">{{this}}</option>
                            {{/each}}
                            {{/ifEquals}}
                            </select>
                            {{/ifEquals}}
                            {{#ifEquals this.type "file"}}
                            <input name="id_{{this.id}}" id="id_{{this.id}}" class="hidden" value="{{this.id}}">
                            <input type="file" name="{{this._id}}" id="{{this.id}}" class="form-control"
                                placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "radio"}}
                            {{#ifEquals this.randomize true}}
                            {{#each (shuffleArray this.data)}}
                            <div class="radio">
                            <label><input type="radio" name="{{../this._id}}" value="{{this}}" {{#ifEquals ../this.required true}} required{{/ifEquals}}>{{this}}</label>
                            </div>
                            {{/each}}
                            {{else}}
                            {{#each  this.data}}
                            <div class="radio">
                            <label><input type="radio" name="{{../this._id}}" value="{{this}}" {{#ifEquals ../this.required true}} required{{/ifEquals}}>{{this}}</label>
                            </div>
                            {{/each}}
                            {{/ifEquals}}
                            {{/ifEquals}}

                        </div>
                        </div>
                    {{/each}}
            <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" class="btn hidden btn-primary" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" class="btn btn-primary" onclick="nextPrev(1)">Next</button>
                </div>
            </div>

            <!-- Circles which indicates the steps of the form: -->
             <div class="hidden" style="text-align:center;margin-top:40px;">
                {{#each quest.questions}}
                <span class="step"></span>
                {{/each}}
            </div> 
            </div>
            <div class="form-group">
                {{!-- <input type="submit" name="submit" class="btn btn-primary " value="Submit" form-id="login-form"/> --}}
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="/js/jquery.validate.min.js"></script>
<script>
    
    $(document).ready(function(){
        $("#regForm").validate({
})
    })
    var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    //document.getElementById("nextBtn").innerHTML = "Submit";
    document.getElementById("nextBtn").innerHTML = "Next";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
            {{#each quest.questions}}
        {{#ifArrayNotEmpty this.displayLogic}}
                                    console.log("PASS 0")
                                var tab = $("#tab_{{this.id}}")
                                var comp1 = $("#{{this.displayLogic.0.question}}").val()
                                var comp2 = "{{this.displayLogic.0.equal_to}}"
                                var logic_type = "{{this.displayLogic.0.logic_type}}"
                                var is_not = "{{this.displayLogic.0.is_not}}"
                                var is_selected = "{{this.displayLogic.0.is_selected}}"
                                var device = "{{this.displayLogic.0.device}}"
                                var equal = "{{this.displayLogic.0.equal}}"
                                var equal_to = "{{this.displayLogic.0.equal_to}}"
                                var answer = "{{this.displayLogic.0.answer}}"
                                var current_device = "{{../current_device}}"
                                var device = "{{this.displayLogic.0.device}}"
                                if(logic_type=="question"){
                                    console.log("PASS 1")
                                    if(equal!=null & equal!=""){
                                    console.log("PASS 2")
                                        if(equal=="is_equal_to"){
                                    console.log("PASS 3")
                                            if(comp1.toString()==equal_to {{{getLogic this.displayLogic ../current_device}}}) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_not_equal_to" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 4")
                                            if(comp1!=equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_greater_than" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 5")
                                            if(comp1>equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_greater_than_or_equal_to" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 6")
                                            if(comp1>=equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_less_than" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 7")
                                            if(comp1<equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_les_than_or_equal_to" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 8")
                                            if(comp1<=equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_empty" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 9")
                                            if(comp1=="") {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_not_empty" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 10")
                                            if(comp1!="") {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_contains" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 11")
                                            if(comp1.toString().includes(equal_to)) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_not_contains" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 12")
                                            if(!comp1.toString().includes(equal_to)) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        }
                                    } else {
                                        if(is_selected=="is_selected" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 13")
                                        if(comp1==answer) {tab.addClass("tab");tab.removeClass("hidden")}
                                        else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(is_selected=="is_not_selected" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 14")
                                            if(comp1!=answer) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(is_selected=="is_displayed" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 15")
                                            if($("#id_"+"{{this.question}}").is(":visible")) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(is_selected=="is_not_displayed" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 16")
                                            if($("#id_"+"{{this.question}}").is(":hidden")) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        }
                                    }
                                } else {
                                    var is_not = "{{this.displayLogic.0.is_not}}"
                                    if(is_not=="is_not" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 17")
                                        if(current_device!=device) {tab.addClass("tab");tab.removeClass("hidden")}
                                        else {tab.removeClass("tab"); tab.addClass("hidden");}
                                    } else if(is_not=="is" {{{getLogic this.displayLogic ../current_device}}}) {
                                    console.log("PASS 18")
                                        if(current_device==device) {tab.addClass("tab");tab.removeClass("hidden")}
                                        else {tab.removeClass("tab"); tab.addClass("hidden");}
                                    }
                                }
        {{/ifArrayNotEmpty}}
        {{/each}}

        //carry forward 
        {{#each quest.questions}}
        {{#if this.carryForwardQuestion}}
        var type = "{{this.carryForwardType}}"
        var quest_id = "{{this.id}}"
        var quest = $("#"+quest_id)
        var question_id = "{{this.carryForwardQuestion}}"
        var question_val = $("#"+question_id)
        if(type=="all"){
            //remove
            $.each(($("#"+question_id+" option"), function () {
                $("#"+quest_id+" option.added").remove();
            }))
            $.each($("#"+question_id+" option"), function () {
                if($(this).val()!=""){
                quest.
            append($('<option class="added"/>')  // Create new <option> element
            .val($(this).val())            // Set value a
            .text($(this).html()))
            }
            })
        } else if(type=="displayed"){
            //remove
            $.each(($("#"+question_id+":visible"+" option"), function () {
                $("#"+quest_id+" option.added").remove();
            }))
            $.each($("#"+question_id+":visible"+" option"), function () {
                quest.
            append($('<option class="added"/>')  // Create new <option> element
            .val($(this).val())            // Set value a
            .text($(this).html()))
            })
        } else if(type=="not_displayed"){
            //remove
            $.each(($("#"+question_id+" option").not(":visible"), function () {
                $("#"+quest_id+" option.added").remove();
            }))
            $.each($("#"+question_id+" option").not(":visible"), function () {
                quest.
            append($('<option class="added"/>')  // Create new <option> element
            .val($(this).val())            // Set value a
            .text($(this).html()))
            })
        } else if(type=="selected"){

            var selected_val = question_val.children("option:selected").val();
            var selected_text = question_val.children("option:selected").html()
            $("#"+quest_id+" option.added").remove();
            quest.
            append($('<option class="added"/>')  // Create new <option> element
            .val(selected_val)            // Set value a
            .text(selected_text))
        } else if(type=="unselected"){
            //remove
            $("#"+quest_id+" option.added").remove();
            $.each($('#'+question_id+' option').not(':selected'), function () {
                if($(this).val()!=""){
                quest.
            append($('<option class="added"/>')  // Create new <option> element
            .val($(this).val())            // Set value a
            .text($(this).html()))
            }
            })
        }
        {{/if}}
        {{/each}}
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  console.log(x.length)
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !$("#regForm").valid()) {
      console.log("Haola")
      return false;
  }
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
    console.log(currentTab, x.length)
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    $("#regForm").html(`<h4 style="text-align:center">Thank you for answering the quest</h4>`)
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  input = x[currentTab].getElementsByTagName("input");
  //if(!y) 
  //y = x[currentTab].getElementsByTagName("select");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < input.length; i++) {
      if (isHidden(all[i])) {
    // If a field is empty...
    if (input[i].value == "") {
      // add an "invalid" class to the field:
      input[i].className += " invalid";
      // and set the current valid status to false:
      valid = false;
    } }
  }
  function isHidden(el) {
    var style = window.getComputedStyle(el);
    return ((style.display === 'none') || (style.visibility === 'hidden'))
}
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}

$(document).ready(function(){
  {{#each quest.questions}}
        {{#ifArrayNotEmpty this.displayLogic}}
                                    console.log("PASS 0")
                                var tab = $("#tab_{{this.id}}")
                                var comp1 = $("#{{this.displayLogic.0.question}}").val()
                                var comp2 = "{{this.displayLogic.0.equal_to}}"
                                var logic_type = "{{this.displayLogic.0.logic_type}}"
                                var is_not = "{{this.displayLogic.0.is_not}}"
                                var is_selected = "{{this.displayLogic.0.is_selected}}"
                                var device = "{{this.displayLogic.0.device}}"
                                var equal = "{{this.displayLogic.0.equal}}"
                                var equal_to = "{{this.displayLogic.0.equal_to}}"
                                var answer = "{{this.displayLogic.0.answer}}"
                                var current_device = "{{../current_device}}"
                                var device = "{{this.displayLogic.0.device}}"
                                if(logic_type=="question"){
                                    console.log("PASS 1")
                                    if(equal!=null & equal!=""){
                                    console.log("PASS 2")
                                        if(equal=="is_equal_to"){
                                    console.log("PASS 3")
                                            if(comp1.toString()==equal_to {{{getLogic this.displayLogic ../current_device}}}) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_not_equal_to" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 4")
                                            if(comp1!=equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_greater_than" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 5")
                                            if(comp1>equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_greater_than_or_equal_to" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 6")
                                            if(comp1>=equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_less_than" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 7")
                                            if(comp1<equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_les_than_or_equal_to" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 8")
                                            if(comp1<=equal_to) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_empty" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 9")
                                            if(comp1=="") {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_not_empty" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 10")
                                            if(comp1!="") {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_contains" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 11")
                                            if(comp1.toString().includes(equal_to)) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(equal=="is_not_contains" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 12")
                                            if(!comp1.toString().includes(equal_to)) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        }
                                    } else {
                                        if(is_selected=="is_selected" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 13")
                                        if(comp1==answer) {tab.addClass("tab");tab.removeClass("hidden")}
                                        else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(is_selected=="is_not_selected" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 14")
                                            if(comp1!=answer) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(is_selected=="is_displayed" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 15")
                                            if($("#id_"+"{{this.question}}").is(":visible")) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        } else if(is_selected=="is_not_displayed" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 16")
                                            if($("#id_"+"{{this.question}}").is(":hidden")) {tab.addClass("tab");tab.removeClass("hidden")}
                                            else {tab.removeClass("tab"); tab.addClass("hidden");}
                                        }
                                    }
                                } else {
                                    var is_not = "{{this.displayLogic.0.is_not}}"
                                    if(is_not=="is_not" {{{getLogic this.displayLogic ../current_device}}}){
                                    console.log("PASS 17")
                                        if(current_device!=device) {tab.addClass("tab");tab.removeClass("hidden")}
                                        else {tab.removeClass("tab"); tab.addClass("hidden");}
                                    } else if(is_not=="is" {{{getLogic this.displayLogic ../current_device}}}) {
                                    console.log("PASS 18")
                                        if(current_device==device) {tab.addClass("tab");tab.removeClass("hidden")}
                                        else {tab.removeClass("tab"); tab.addClass("hidden");}
                                    }
                                }
        {{/ifArrayNotEmpty}}
        {{/each}}
})
</script>
<div class="footer py-5 border-top text-center">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <p class="mb-0">
          {{#if setting_data.facebook}}<a href="{{setting_data.facebook}}" class="p-3"><span
              class="icon-facebook"></span></a>{{/if}}
          {{#if setting_data.twitter}}<a href="{{setting_data.twitter}}" class="p-3"><span
              class="icon-twitter"></span></a>{{/if}}
          {{#if setting_data.instagram}}<a href="{{setting_data.instagram}}" class="p-3"><span
              class="icon-instagram"></span></a>{{/if}}
          {{#if setting_data.youtube}}<a href="{{setting_data.youtube}}" class="p-3"><span
              class="icon-youtube"></span></a>{{/if}}
          {{#if setting_data.linkedin}}<a href="{{setting_data.linkedin}}" class="p-3"><span
              class="icon-linkedin"></span></a>{{/if}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="mb-0">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script> {{appName}} All rights reserved
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</div>




</div> <!-- .site-wrap -->
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<script src="/js/sweetalert.min.js"></script>
{{!-- <script src="/vendor/datatables/js/dataTables.bootstrap.js"></script> --}}
<script src="/js/vendor/datatables.min.js"></script>
<script src="/vendor/summernote/summernote.js"></script>
<script src="/js/submit.js"></script>
<script src="/jquery-rating-bars/jquery.combostars.js"></script>
<script src="/vendor/selectize/selectize.js"></script>
<script src="/js/main.js"></script>
<script>
  $(document).ready(function () {
    {{#if rating}}
    $("#reviewModal").modal('toggle')
    {{/if}}
        {{#if info}}
        swal({
          title: "{{ info_title }}",
          text: "{{ info }}",
          icon: "{{ info_type }}",
        }); 
        {{/if}}
          });
</script>

{{{setting_data.googleAnalytic}}}
</body>
</html>