    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Quest</h1>
            <div class="float-sm-right text-zero">
              <a href="/admin/create_quest/{{this._id}}" class="btn btn-primary btn-lg mr-1">ADD NEW</a>
            </div>
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">Quest</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each quest_list}}
                  <tr>
                    <td>{{this.code}}</td>
                    <td>{{this.title}}</td>
                    <td style="text-align: center;text-transform:capitalize">
                      {{this.questType}}
                    </td>
                    <td style="text-align: center;text-transform:capitalize">
                      {{this.status}}
                    </td>
                    <td style="text-align: center;text-transform:capitalize">
                      {{this.createdBy.name}}
                    </td>
                    <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                    <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                    <td>
                      <a href="/admin/view_quest/{{this._id}}" class="btn btn-outline-secondary mb-1" >
                        <div class="glyph-icon simple-icon-eye"></div>
                      </a>
                      <a href="/admin/edit_quest/{{this._id}}" class="btn btn-outline-secondary mb-1">
                        <div class="glyph-icon simple-icon-pencil"></div>
                      </a>
                      <a class="btn btn-outline-secondary mb-1"
                          href="/admin/download_answer/{{this._id}}">
                          <div class="glyph-icon simple-icon-cloud-download"></div>
                      </a>
                      <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal"
                        data-url="{{../admin_data.role}}/delete_quest/{{this._id}}" data-target="#delete_modal">
                        <div class="glyph-icon simple-icon-trash"></div>
                      </button>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    </div>

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to delete this data?
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-primary" id="delete_footer" href="#">Yes</a>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>