    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Rewards</h1>
            {{#ifEquals user_data.role "admin"}}
              <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
              </div>  
            {{/ifEquals}}
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Features
                </li>
                <li class="breadcrumb-item active" aria-current="page">Rewards</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Points Required</th>
                    <th>Store</th>                    
                    <th>Image</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each reward_list}}
                    <tr>
                      <td>{{this.title}}</td>
                      <td>{{this.pointsRequired}}</td>
                      <td>{{this.storeRef.name}}</td>
                      <td style="text-align: center">
                        <img src="{{this.image}}" style="max-width:100px">
                      </td>
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        {{#ifEquals ../user_data.role "admin"}}
                          <button type="button" class="btn btn-outline-secondary mb-1 edit_reward" data-url="{{../user_data.role}}/reward/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                            <div class="glyph-icon simple-icon-pencil"></div>
                          </button>                        
                          <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../user_data.role}}/delete_reward/{{this._id}}" data-target="#delete_modal">
                            <div class="glyph-icon simple-icon-trash"></div>
                          </button>     
                        {{/ifEquals}}
                        {{#ifEquals ../user_data.role "store"}}
                          <button type="button" class="btn btn-primary btn-sm mb-1 redeem_btn" data-url="{{../user_data.role}}/redeem_reward/{{this._id}}" data-toggle="modal" data-target="#redeem_modal">
                            <div class="glyph-icon iconsminds-financial"></div>
                          </button>                            
                        {{/ifEquals}}           
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post" enctype="multipart/form-data"> 
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Rewards</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Title</label>
                <input name="title" type="text" class="form-control" autocomplete="off" required>
              </div>     
              <div class="form-group">
                <label>Point Required</label>
                <input name="pointsRequired" type="number" class="form-control" autocomplete="off" required>
              </div>                 
              <div class="form-group">
                <label>Store</label>
                <select name="storeRef" class="form-control capitalize" required>
                  <option value="" >&nbsp;</option>
                  {{#each store_list}}
                    <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>                      
              <div class="form-group">
                <label>Image</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image" name="image" onchange="previewFile('image')" required>
                    <label class="custom-file-label" for="image" id="image_label">Choose file</label>
                  </div>
                </div>
              </div>                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{user_data.role}}/update_reward" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Rewards</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">
              <div class="form-group">
                <label>Title</label>
                <input name="title" id="title_edit" type="text" class="form-control" autocomplete="off" required>
              </div>     
              <div class="form-group">
                <label>Point Required</label>
                <input name="pointsRequired" id="pointsRequired_edit" type="number" class="form-control" autocomplete="off" required>
              </div>                 
              <div class="form-group">
                <label>Store</label>
                <select name="storeRef" id="storeRef_edit" class="form-control capitalize" required>
                  <option value="" >&nbsp;</option>
                  {{#each store_list}}
                    <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>  
              <div class="form-group">
                <label>Image</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image_edit" name="image" onchange="previewFile('image_edit')">
                    <label class="custom-file-label" for="image_edit" id="image_label_edit">Choose file</label>
                  </div>
                </div>
              </div>                    
            </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="redeem_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form id="redeem_form" action="" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Redeem Rewards</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Email</label>
                <input name="email" id="email" type="text" class="form-control" autocomplete="off" required>
              </div>     
              <div class="form-group">
                <label>Reward Code</label>
                <input name="rewardCode" id="rewardCode" type="number" class="form-control" autocomplete="off" required>
              </div>                                   
            </div>            
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>  

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    