    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Setting</h1>
            {{#ifEquals user_data.role "super_admin"}}
              <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
              </div>            
            {{/ifEquals}}
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Setting
                </li>                              
                <li class="breadcrumb-item active" aria-current="page">
                  Common
                </li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <form method="post" action="/admin/setting/common" enctype="multipart/form-data">
          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-body">  
                  <h4>General</h4>
                  <hr>          
                  <input type="text" class="hidden" name="_id" value="{{setting._id}}">                 
                  <div class="form-group">
                    <label>Logo</label>
                    <div style="background:#880a1f;padding:20px 150px;">
                      <img class="card-img-top" src="{{#if setting.logo}}{{setting.logo}}{{else}}/images/dummy.jpg{{/if}}" alt="Card image cap">
                    </div>
                    <div class="input-group mt-2 mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file-label" id="image" name="logo" onchange="previewFile('image')">
                        <label class="custom-file-label" for="image" id="image_label">Choose file</label>
                      </div>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control" type="text" value="{{setting.email}}">
                  </div>
                  <div class="form-group">
                    <label>Phone</label>
                    <input name="phone" class="form-control" type="number" value="{{setting.phone}}">
                  </div>   
                  <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" rows="4" name="address" required spellcheck="false" aria-invalid="true" required>{{setting.address}}</textarea>                                 
                  </div>   
                  <h4>Header</h4>
                  <hr>        
                  <div class="form-group">
                    <label>Header Title</label>
                    <input name="headerTitle" class="form-control" type="text" value="{{setting.headerTitle}}">
                  </div>
                  <div class="form-group">
                    <label>Header Caption</label>
                    <input name="headerCaption" class="form-control" type="text" value="{{setting.headerCaption}}">
                  </div>
                  <div class="form-group">
                    <label>Header Image</label>
                    <div style="background:#880a1f;padding:20px 150px;">
                      <img class="card-img-top" src="{{#if setting.headerImage}}{{setting.headerImage}}{{else}}/images/dummy.jpg{{/if}}" alt="Card image cap">
                    </div>
                    <div class="input-group mt-2 mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file-label" id="headerImage" name="headerImage" onchange="previewFile('headerImage')">
                        <label class="custom-file-label" for="headerImage" id="image_label">Choose file</label>
                      </div>
                    </div>
                  </div> 
                  <h4>About Us</h4>
                  <hr>
                  <div class="form-group">
                    <label>About Us Title</label>
                    <input name="aboutUsTitle" class="form-control" type="text" value="{{setting.aboutUsTitle}}">
                  </div>
                  <div class="form-group">
                    <label>About Us Caption</label>
                    <input name="aboutUsCaption" class="form-control" type="text" value="{{setting.aboutUsCaption}}">
                  </div>
                  <div class="form-group">
                    <label>About Us Image</label>
                    <div style="background:#880a1f;padding:20px 150px;">
                      <img class="card-img-top" src="{{#if setting.aboutUsImage}}{{setting.aboutUsImage}}{{else}}/images/dummy.jpg{{/if}}" alt="Card image cap">
                    </div>
                    <div class="input-group mt-2 mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file-label" id="aboutUsImage" name="aboutUsImage" onchange="previewFile('aboutUsImage')">
                        <label class="custom-file-label" for="aboutUsImage" id="image_label">Choose file</label>
                      </div>
                    </div>
                  </div> 
                  
                  <h4>Terms & Conditions</h4>
                  <hr>
                  <div class="form-group">
                    <label>Content</label>
                    <textarea name="termsAndCondition" class="form-control summernote" value="{{setting.termsAndCondition}}" rows="6">{{setting.termsAndCondition}}</textarea>
                  </div>
                  <h4>Prologue</h4>
                  <hr>
                  <div class="form-group">
                    <label>Content</label>
                    <textarea name="prologue" class="form-control summernote" value="{{setting.prologue}}" rows="6">{{setting.prologue}}</textarea>
                  </div>
                  <h4>Price</h4>
                  <hr>
                  <div class="form-group">
                    <label>Quest Price</label>
                    <input name="price" class="form-control" type="number" value="{{setting.price}}">
                  </div>
                  <h4>Free Quest</h4>
                  <hr>
                  <div class="form-group">
                    <label>Free Quest Required</label>
                    <input name="freeQuest" class="form-control" type="number" value="{{setting.freeQuest}}">
                  </div>
                  <h4>Google Analytic</h4>
                  <hr>        
                  <div class="form-group">
                    <label>Code</label>
                    <textarea name="googleAnalytic" class="form-control" type="text" value="{{setting.googleAnalytic}}">{{setting.googleAnalytic}}</textarea>
                  </div>
                </div>
              </div>
            </div>       
            <div class="col-12 mt-3">
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
        </form>   
      </div> 
    </main>