<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">{{news.title}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-12 mb-lg-12">
                <div class="h-entry">
                    <img src="{{news.image}}" alt="Image" class="img-fluid">
                    <h5>{{news.subtitle}}</h5>
                    <div class="meta mb-4"> {{dateFormat news.createdDate "MMMM DD, YYYY" utc}}<span
                            class="mx-2">•</span></div>
                    <p>
                        {{{news.content}}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
