    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Store</h1>
            <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
            </div>  
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">Store</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Unit Kerja</th>
                    <th>Outer Jakarta</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each store_list}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>{{this.brand.name}}</td>
                      <td>{{this.unitKerja}}</td>
                      <td>{{this.outerJakarta}}</td>
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        {{!-- <button type="button" class="btn btn-outline-secondary mb-1 view_employee" data-url="{{../user_data.role}}/get_single_store/{{this._id}}" data-toggle="modal" data-target="#view_data_modal">
                          <div class="glyph-icon simple-icon-eye"></div>
                        </button>   --}}
                        <button type="button" class="btn btn-outline-secondary mb-1 edit_store" data-url="{{../user_data.role}}/store/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                          <div class="glyph-icon simple-icon-pencil"></div>
                        </button>                        
                        <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../user_data.role}}/delete_store/{{this._id}}" data-target="#delete_modal">
                          <div class="glyph-icon simple-icon-trash"></div>
                        </button>                   
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post"> <!--enctype="multipart/form-data">-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Store</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control"  autocomplete="off" required>
              </div> 
              <div class="form-group">
                <label>Brand</label>
                <select name="brand" id="brand" class="form-control" required>
                  <option value="" >Select Brand</option>
                  {{#each brand_list}}
                    <option value="{{this._id}}" >{{this.name}}</option>
                  {{/each}}
                </select>
              </div>                  
              <div class="form-group">
                <label>Unit Kerja</label>
                <input name="unitKerja" type="text" class="form-control"  autocomplete="off" required>
              </div>    
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="outerJakarta" name="outerJakarta" class="custom-control-input">
                  <label class="custom-control-label" for="outerJakarta">
                    Is outer Jakarta?
                  </label>
                </div>
              </div>                                             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{user_data.role}}/update_store" method="post">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Store</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">
              <div class="form-group">
                <label>Name</label>
                <input name="name" id="name_edit" type="text" class="form-control"  autocomplete="off" required>
              </div> 
              <div class="form-group">
                <label>Brand</label>
                <select name="brand" id="brand_edit" class="form-control" required>
                  <option value="" >Select Brand</option>
                  {{#each brand_list}}
                    <option value="{{this._id}}" >{{this.name}}</option>
                  {{/each}}
                </select>
              </div>               
              <div class="form-group">
                <label>Unit Kerja</label>
                <input name="unitKerja" id="unitKerja_edit" type="text" class="form-control"  autocomplete="off" required>
              </div>  
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="outerJakarta_edit" name="outerJakarta" class="custom-control-input">
                  <label class="custom-control-label" for="outerJakarta_edit">
                    Is outer Jakarta?
                  </label>
                </div>      
              </div>                       
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="view_data_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Detail Store</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <label>Name</label>
                  <input name="name" id="view_name" type="text" class="form-control" required>
              </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>   

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    