    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Survey Profiling</h1>
            <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
            </div>  
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">Survey Profiling</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Question</th>
                    <th>Type</th>             
                    <th>Data</th>             
                    <th>Required</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each survey_profiling_list}}
                    <tr>
                      <td>{{this.question}}</td>
                      <td class="capitalize">{{this.type}}</td>
                      <td>{{#if this.data}}{{#each this.data}} <span class="badge badge-primary">{{this}}</span>{{/each}}{{else}}-{{/if}}</td>
                      <td style="text-align: center;text-transform:capitalize">
                          {{this.required}}
                      </td>
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        <button type="button" class="btn btn-outline-secondary mb-1 edit_survey_profiling" data-url="{{../admin_data.role}}/survey_profiling/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                          <div class="glyph-icon simple-icon-pencil"></div>
                        </button>                        
                        <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../admin_data.role}}/delete_survey_profiling/{{this._id}}" data-target="#delete_modal">
                          <div class="glyph-icon simple-icon-trash"></div>
                        </button>                   
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post"> 
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Survey Profiling</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Question</label>
                <input name="question" type="text" class="form-control" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label>Type</label>
                <select name="type" id="survyeProfilingType" class="form-control capitalize" required>
                  <option value="" >Select Option</option>
                  {{#each type_list}}
                    <option class="capitalize" value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group" id="data_multiply">
                <label>Data</label>
                <input name="data" type="text" id="data" class="form-control selectize-custom" autocomplete="off">
              </div>
              <div class="form-group">
                <label>Required</label>
                <select name="required" class="form-control capitalize" required>
                    <option value="" >Select Option</option>
                    <option class="capitalize" value="true">True</option>
                    <option class="capitalize" value="false">False</option>
                </select></div>                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{admin_data.role}}/update_survey_profiling" method="post" id="form_update_survey_profiling">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Survey Profiling</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">
              <div class="form-group">
                <label>Question</label>
                <input name="question" id="question_edit" type="text" class="form-control" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label>Type</label>
                <select name="type" id="survyeProfilingType_edit" class="form-control capitalize" required>
                  <option value="" >Select Option</option>
                  {{#each type_list}}
                    <option class="capitalize" value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group" id="data_multiply_edit">
                <label>Data</label>
                <input name="data" id="data_edit" type="text"  class="form-control" autocomplete="off">
              </div>
              <div class="form-group">
                <label>Required</label>
                <select name="required" id="required_edit" class="form-control capitalize" required>
                    <option value="" >Select Option</option>
                    <option class="capitalize" value="true">True</option>
                    <option class="capitalize" value="false">False</option>
                </select>
                </div>                    
            </div>            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    {{!-- <div class="modal fade modal-right" id="view_data_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Detail Department</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <label>Name</label>
                  <input name="name" id="view_name" type="text" class="form-control"  autocomplete="off" required>
              </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>    --}}

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    