    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Testimonial</h1>
            <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
            </div>  
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">Testimonial</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Caption</th>
                    <th>Rating</th>
                    <th>Confirmed</th>
                    <th>Image</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each testimonial_list}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>
                          {{this.caption}}
                      </td>
                      <td>
                          {{this.stars}}
                      </td>
                      <td class="capitalize">
                          {{#ifEquals this.confirmed true}} Yes{{else}} No {{/ifEquals}}
                      </td>
                      <td style="text-align: center">
                        <img src="{{this.image}}" style="max-width:100px">
                      </td>                      
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        <button type="button" class="btn btn-outline-secondary mb-1 edit_testimonial" data-url="{{../admin_data.role}}/testimonial/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                          <div class="glyph-icon simple-icon-pencil"></div>
                        </button>                        
                        <button type="button" class="btn btn-primary mb-1 delete_btn" data-toggle="modal" data-url="{{../admin_data.role}}/delete_testimonial/{{this._id}}" data-target="#delete_modal">
                          <div class="glyph-icon simple-icon-trash"></div>
                        </button>                   
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Testimonial</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control"  autocomplete="off" required>
              </div>   
              <div class="form-group">
                <label>Caption</label>
                <input name="caption" id="caption" type="text" class="form-control"  autocomplete="off" required>
              </div>      
              <div class="form-group">
                <label>Rating</label>
                <select name="stars" type="text" class="form-control"  autocomplete="off" required>
                  <option value="">Choose Rating</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  </select>
              </div>      
              <div class="form-group">
                <label>Confirmed</label>
                <select name="confirmed" type="text" class="form-control"  autocomplete="off" required>
                  <option value="">Choose Option</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                  </select>
              </div>                               
              <div class="form-group">
                <label>Image</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image" name="image" onchange="previewFile('image')" required>
                    <label class="custom-file-label" for="image" id="image_label">Choose file</label>
                  </div>
                </div>
              </div>                 
            </div>           
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{admin_data.role}}/update_testimonial" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Testimonial</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="id" name="id" class="hidden">
              <div class="form-group">
                <label>Name</label>
                <input name="name" id="name_edit" type="text" class="form-control"  autocomplete="off" required>
              </div>   
              <div class="form-group">
                <label>Caption</label>
                <input name="caption" id="caption_edit" type="text" class="form-control"  autocomplete="off" required>
              </div>  
              <div class="form-group">
                <label>Rating</label>
                <select name="stars" id="stars_edit" type="text" class="form-control"  autocomplete="off" required>
                  <option value="">Choose Rating</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  </select>
              </div>
              <div class="form-group">
                <label>Confirmed</label>
                <select name="confirmed" id="confirmed_edit" type="text" class="form-control"  autocomplete="off" required>
                  <option value="">Choose Option</option>
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                  </select>
              </div>
              <div class="form-group">
                <label>Image</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image_edit" name="image" onchange="previewFile('image_edit')">
                    <label class="custom-file-label" for="image_edit" id="image_label_edit">Choose file</label>
                  </div>
                </div>
              </div>                             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this data?
              </div>
              <div class="modal-footer">
                <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
          </div>
      </div>
    </div>    