    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>User</h1>
              <div class="float-sm-right text-zero">
                <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-target="#create_modal">ADD NEW</button>
            </div>         
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                  Master Data
                </li>
                <li class="breadcrumb-item active" aria-current="page">User</li>
              </ol>
            </nav>
            <div class="separator mb-5"></div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-body">
              <table class="data-table data-table-custom">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each user_list}}
                  {{#notEquals this._id ../admin_data._id}}
                    <tr>
                      <td>{{this.name}}</td>
                      <td>{{this.email}}</td>
                      <td>{{dateFormat this.birthDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.createdDate "MM/DD/YYYY" utc}}</td>
                      <td>{{dateFormat this.updatedDate "MM/DD/YYYY" utc}}</td>
                      <td>
                        {{#notEquals this._id ../admin_data._id}}    
                          <button type="button" class="btn btn-outline-secondary mb-1 edit_user" data-url="{{../admin_data.role}}/user/{{this._id}}" data-toggle="modal" data-target="#edit_modal">
                            <div class="glyph-icon simple-icon-pencil"></div>
                          </button>                
                          <button type="button" class="btn btn-primary mb-1 delete_btn" data-url="{{../admin_data.role}}/delete_user/{{this._id}}" data-toggle="modal" data-target="#delete_modal">
                            <div class="glyph-icon simple-icon-trash"></div>
                          </button>                      
                        {{else}}
                          -
                        {{/notEquals}}                            
                      </td>
                    </tr>
                    {{/notEquals}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    {{!-- {{#ifEquals admin_data.role "super_admin"}} --}}
    <div class="modal fade modal-right" id="create_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input name="name" id="name" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input name="email" id="email" type="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" id="password" type="password" class="form-control" required>
              </div>                     
              <div class="form-group">
                <label>Role</label>
                <select name="role" id="role" class="form-control" required>
                  <option value="" >Select Option</option>
                  <option value="member" selected>Member</option>
                  {{#ifEquals admin_data.role "admin"}}
                    <option value="admin">Admin</option>
                  {{/ifEquals}}
                </select>
              </div>                       
              <div class="form-group">
                <label>Image Profile</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image" name="image" onchange="previewFile('image')">
                    <label class="custom-file-label" for="image" id="image_label">Choose file</label>
                  </div>
                </div>
              </div>                                                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    
    {{!-- {{/ifEquals}} --}}

    <div class="modal fade modal-right" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalRight">
      <div class="modal-dialog" role="document">
        <form action="/{{admin_data.role}}/update_user" method="post" enctype="multipart/form-data">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <input name="id" id="id" type="text" class="form-control hidden" required>
              <div class="form-group">
                <label>Name</label>
                <input name="name" id="name_edit" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input name="email" id="email_edit" type="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="password" id="password_edit" type="password" class="form-control">
              </div>                  
              <div class="form-group">
                <label>Role</label>
                <select name="role" id="role_edit" class="form-control" required>
                  <option value="" >Select Option</option>
                  <option value="member" selected>Member</option>
                  {{#ifEquals admin_data.role "super_admin"}}
                    <option value="admin">Admin</option>
                  {{/ifEquals}}
                </select>
              </div>                         
              <div class="form-group">
                <label>Image Profile</label>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-label" id="image_edit" name="image" onchange="previewFile('image_edit')">
                    <label class="custom-file-label" for="image_edit" id="image_label_edit">Choose file</label>
                  </div>
                </div>
              </div>                                                
            </div>            
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>    

    <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                  Are you sure want to delete this data?
                </div>
                <div class="modal-footer">
                  <a type="button"  class="btn btn-primary" id="delete_footer" href="#">Yes</a>
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>    