<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">{{user_quest.questRef.title}}</h2>
                <h5 style="text-align:center">{{user_quest.questRef.description}}</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 mb-4 mb-lg-12">

            <a class="btn btn-outline-secondary mb-1 btn-primary"
                href="/my_quest">
                <div class="fa fa-arrow-left"></div> Back
            </a>
            <hr>
                {{#each user_quest.questRef.questions}}
                <div class="form-group">
                    <label>{{this.number}}:{{#ifEquals this.required true}} <label class="required" data-toggle="tooltip" title="Required">*</label>{{/ifEquals}}</label>
                    <p>{{{this.question}}}</p>
                    {{#ifEquals this.type "text"}}
                    
                    <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control" value="{{findAnswer this.id ../user_quest.answers}}" disabled>
                    {{/ifEquals}}
                    {{#ifEquals this.type "email"}}
                    
                    <input type="email" name="{{this._id}}" id="{{this._id}}" class="form-control" value="{{findAnswer this.id ../user_quest.answers}}" disabled>
                    {{/ifEquals}}
                    {{#ifEquals this.type "number"}}
                    
                    <input type="number" name="{{this._id}}" id="{{this._id}}" class="form-control" value="{{findAnswer this.id ../user_quest.answers}}" disabled>
                    {{/ifEquals}}
                    {{#ifEquals this.type "date"}}
                    
                    <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control datepicker" value="{{findAnswer this.id ../user_quest.answers}}" disabled>
                    {{/ifEquals}}
                    {{#ifEquals this.type "textarea"}}
                    
                    <textarea name="{{this._id}}" id="{{this._id}}" class="form-control"
                         disabled>{{findAnswer this.id ../user_quest.answers}}"</textarea>
                    {{/ifEquals}}
                    {{#ifEquals this.type "select"}}
                    
                    <select name="{{this._id}}" id="{{this._id}}" class="form-control"  disabled>
                        <option value="">Select Option</option>
                        {{#each this.data}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <script>
                        $("#{{this._id}}").val("{{findAnswer this.id ../user_quest.answers}}").change()
                    </script>
                    {{/ifEquals}}
                    {{#ifEquals this.type "checkbox"}}
                    
                    <div class="form-group">
                        <label for="{{this._id}}" class="checkbox">{{this.question}}</label>
                        <input id="{{this._id}}" type="checkbox" value="true"  disabled>
                    </div>
                    <script>
                        var val = "{{findAnswer this.id ../user_quest.answers}}"
                        if(val=="true")
                        $("#{{this._id}}").prop('checked', true);
                    </script>
                    {{/ifEquals}}
                    {{#ifEquals this.type "multiple"}}
                    
                    <select name="{{this._id}}" id="{{this._id}}" class="form-control {{#ifEquals this.custom true}} selectize-custom {{else}}selectize {{/ifEquals}}"
                        placeholder="Select Your {{this.question}}" disabled=" disabled" multiple />
                    <option value="">Select Option</option>
                    {{#each this.data}}
                    <option value="{{this}}" style="text-transform: capitalize" {{findAnswer_special ../this.id ../user_quest.answers "selected"}}>{{this}}</option>
                    {{/each}}
                    </select>
                    {{/ifEquals}}
                    {{#ifEquals this.type "file"}}
                    <a href="{{findAnswerFile this.id ../user_quest.answers}}" class="btn btn-primary" target="_blank">Click here to download!</a>
                    {{/ifEquals}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

