    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>View Quest</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item">
                                Master Data
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Quest</li>
                        </ol>
                    </nav>
                    <div class="separator mb-5"></div>
                </div>
            </div>
            <div class="col-12 mb-4"><br><a class="btn btn-outline-secondary mb-1 btn-primary" href="/admin/quest">
                    <span class="glyph-icon simple-icon-arrow-left-circle"></span> Back
                </a><br><br>
                <div class="card">
                    <div class="card-body">
                        {{#each quest.questions}} <div class="form-group">
                            <label>{{this.number}}:{{#ifEquals this.required true}} <label class="required" data-toggle="tooltip" title="Required">*</label>{{/ifEquals}}</label>
                            <p>{{{this.question}}}</p>
                            {{#ifEquals this.type "text"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "email"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <input type="email" name="{{this._id}}" id="{{this._id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "number"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <input type="number" name="{{this._id}}" id="{{this._id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "date"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <input type="text" name="{{this._id}}" id="{{this._id}}" class="form-control datepicker"
                                {{#ifEquals this.required true}} required{{/ifEquals}} />
                            {{/ifEquals}}
                            {{#ifEquals this.type "textarea"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <textarea name="{{this._id}}" id="{{this._id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}}></textarea>
                            {{/ifEquals}}
                            {{#ifEquals this.type "select"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <select name="{{this._id}}" id="{{this._id}}" class="form-control"
                                {{#ifEquals this.required true}} required{{/ifEquals}}>
                                <option value="">Select Option</option>
                                {{#each this.data}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                            {{/ifEquals}}
                            {{#ifEquals this.type "checkbox"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <div class="form-group">
                                <label for="{{this._id}}" class="checkbox">{{this.question}}</label>
                                <input id="{{this._id}}" type="checkbox" value="true" {{#ifEquals this.required true}}
                                    required{{/ifEquals}}>
                            </div>
                            {{/ifEquals}}
                            {{#ifEquals this.type "multiple"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <select name="{{this._id}}" id="{{this._id}}" class="form-control {{#ifEquals this.custom true}} selectize-custom {{else}}selectize {{/ifEquals}}"
                                placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} multiple />
                            <option value="">Select Option</option>
                            {{#each this.data}}
                            <option value="{{this}}" style="text-transform: capitalize">{{this}}</option>
                            {{/each}}
                            </select>
                            {{/ifEquals}}
                            {{#ifEquals this.type "file"}}
                            <input name="id_{{this._id}}" class="hidden" value="{{this._id}}">
                            <input type="file" name="file" id="{{this._id}}" class="form-control"
                                placeholder="Select Your {{this.question}}" {{#ifEquals this.required true}}
                                required{{/ifEquals}} />
                            {{/ifEquals}}
                    </div>
                    {{/each}}
                </div>
                </form>
            </div>
        </div>
        </div>
        </div>
    </main>
    </div>