<div class="site-section" id="news-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 offset-md-4 col-lg-4 mb-4 mb-lg-12">
                <div class="card">
                    <div class="card-header centered-content">
                        <h4>Waiting For The Payment</h4>
                    </div>
                    <div class="card-body centered-content">
                        <h3>Rp.{{formatCurrency0 order.priceTotal}}</h3>
                        <hr>
                        <div class="countdown">
                            <div id="defaultCountdown"></div>
                        </div>
                        <hr>
                        <div id="payment_button">
                        <a href="{{order.redirectURL}}" class="btn btn-block btn-primary text-uppercase">Complete The Payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/jquery.plugin.min.js"></script>
<script src="/js/jquery.countdown.js"></script>
{{!-- <script src="/js/jquery.countdown.min.js"></script> --}}
<script>
$(function () {
    $(document).ready(function(){
        if(new Date("{{order.expireTime}}")<new Date()) document.getElementById("payment_button").innerHTML = "";
    })
	$('#defaultCountdown').countdown({until: new Date("{{order.expireTime}}"), onExpiry: closePayment});
	$('#year').text(new Date("{{order.expireTime}}").getFullYear());
    function closePayment(){
        document.getElementById("payment_button").innerHTML = "";
    }
});
</script>