 a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    @include appearance( none );
    margin: 0;
}
input:focus, select:focus, textarea:focus { outline: none; @include box-shadow-input(none); }
input[type=checkbox] { @include appearance( checkbox ); }
input[type=radio] { @include appearance( radio ); }
.clear { clear: both; }
h2 {
    font-size: 20px;
    color: $black-color;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding-top: 35px;
}
body {
	font-size: 14px;
    line-height: 1.6;
    color: $black-color;
    font-weight: 400;
    font-family: 'Roboto Slab';
    margin: 0px;
    background-image: url('../images/body-bg.jpg');
    background-repeat: no-repeat;
    @include background-size(cover);
    background-position: center center;
}
.main {
    padding: 8vh 0!important;
}
.container {
    width: 1070px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    @include box-shadow(0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.1));
    @include border-radius(10px);
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    margin: 0px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 16px;
    font-weight: bold;
    a {
        color: $grey-color;
        text-decoration: none;
        &:hover {
            color: $grey-color;
            text-decoration: none;
        }
    }
}

  
  
  
